<%
option = @option %>
<script>
var html_str = "<li id='opt_<%= option.id.to_s %>' class='main-category-list'>" +
				"<h4 id='opt_name_<%= option.id.to_s %>'><%= option.name %></h4>" +
				"<p class='main-category-action'><a id='opt-edit_<%= option.id.to_s %>' class='edit'>수정</a><a id='opt-del_<%= option.id.to_s %>' class='delete'>삭제</a></p>"+
				"<ul id='sortables_<%= option.id.to_s %>' class='main_sortable'>"+
				"</ul>"+
				"<fieldset class='sub-write-form'>"+ 
					"<legend>서브 카테고리 추가</legend>"+
					"<label for='optionsub-write_<%= option.id.to_s %>'>카테고리명</label>"+
					"<input type='text' name='optionsub_name' id='optionsub-write_<%= option.id.to_s %>' class='textfield'  placeholder='서브 카테고리명 입력'/>"+
					"<input type='text' name='optionsub_price' id='optionsub_price_<%= option.id.to_s %>' class='textfield2'  placeholder='단가 입력 (숫자만 입력!)'/>"+
					"<input id='add_optionsub_<%= option.id.to_s %>' class='submit' type='button' value='추가'/>"+
				"</fieldset>"+
				"</li>";

$('#sortables').prepend(html_str);

$('#main-category-write').val("");

$('#add_optionsub_<%= option.id.to_s %>').click(function() {
	if ($('#optionsub-write_<%= option.id.to_s %>').val() == ""){
		alert("카테고리명을 입력하세요~");
	}else{
		$.ajax({
			// data:'option_id=<%= option.id.to_s %>&optionsub_name='+ $('#optionsub-write_<%= option.id.to_s %>').val(), 
			data:'rcate='+$('#rcate :selected').val()+'&option_id=<%= option.id.to_s %>&optionsub_name='+ $('#optionsub-write_<%= option.id.to_s %>').val()+'&optionsub_price='+$('#optionsub_price_<%= option.id.to_s %>').val(), 
			dataType:'script', 
			type:'post', 
			url:'/admin/options/add_optionsub'
		});	
	}
});
				
</script>