<%
	category = "현수막"
	@option_basic = Option_basic.first(:category_name => category)
	
	category_id 	= @option_basic.category_id
	category_name 	= @option_basic.category_name
	sl_f  			= @option_basic.size_limit_flag
	lp_f 			= @option_basic.lowest_price_flag
	lp 				= @option_basic.lowest_price
	upcbp_f 		= @option_basic.unit_price_change_by_postproc_flag
	upcbm_f 		= @option_basic.unit_price_change_by_meterial_flag
	ro_f 			= @option_basic.round_off_flag
	ro 				= @option_basic.round_off_unit
	dr_f 			= @option_basic.discount_rate_flag
	
%>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jquery.em.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jScrollPane.js"></script>
<script type="text/javascript" src="/js/jquery.ui.ipad.js"></script>

<link href="/css/admin/layout.css" rel="stylesheet" type="text/css" />


<!-- <div id="feature_wrapper">
	<p1>기본설정</p1>
	<br>
</div>

<input type="hidden" name="category" id="category" value="현수막">
<table class="board_table">
    <thead class="logo">
        <tr>
            <th class="board_thead" width="700px">계산식:
				{ { (가로x세로x기본단가) + 후가공 } x건수 } x 1.1(부가세)
			</th>
        </tr>
    </thead>
    <tbody class="logo">
		<tr>
            <td class="board_tbody" width="200px">기본단가: <input type="text" id="basic_unit_price" value="<%= @option_basic.unit_price %>">원
	
			</td>
        </tr>
		<tr>
			<td class="board_tbody">가로, 세로 100cm가 안될 경우 무조건 100cm로 계산 <input type="checkbox" id="size_limit_flag" <%= "checked" if sl_f == true %>></td>
		</tr>
		<tr>
			<td class="board_tbody">최저금액 적용여부 <input type="checkbox" id="lowest_price_flag" <%= "checked" if lp_f == true %>>
				<span id="lowest_price_block"><input type="text" id="lowest_price" value="<%= lp %>">원</span>
			</td>
		</tr>
		
		<tr>
			<td class="board_tbody">특정 소재 선택시 기본단가 변경 <input type="checkbox" id="unit_price_change_by_material_flag" <%= "checked" if upcbm_f == true %>>
				<ul id="ul1" style="padding:0 0 0 10px;">
					<%
					Optionsub.all(:option_id => 1).each do |opt| 
					%>
					<span style="padding:0 20px 0 0"><%= opt.name %></span>
					<input type="text" class="unit_price_option" id="<%= opt.id %>" value="<%= opt.unit_price %>">원<br>
					<%
					end
					%><input type="button" id="btn_material_save" value="기본단가 저장">
				</div>
			</td>
		</tr>
		
		<tr>
			<td class="board_tbody">특정 후가공 선택시 기본단가 변경 <input type="checkbox" id="unit_price_change_by_postproc_flag" <%= "checked" if upcbp_f == true %>>
				<ul id="ul2" style="padding:0 0 0 10px;">
					<%
					Optionsub.all(:option_id => 2).each do |opt| 
					%>
					<span style="padding:0 20px 0 0"><%= opt.name %></span> 
					<input type="text" class="unit_price_postoption" id="<%= opt.id %>" value="<%= opt.unit_price %>">원<br>
					<%
					end
					%><input type="button" id="btn_postproc_save" value="기본단가 저장">
				</div>
			</td>
		</tr> 
		<tr>
			<td class="board_tbody">반올림 적용여부 및 단위 <input type="checkbox" id="round_off_flag" <%= "checked" if ro_f == true %>>
				<div id="round_off_block">
					<br><input type="radio" name="round_off" id="round_off_1000" value="1000" <%= "checked" if ro == "1000" %>>1,000원 
					<input type="radio" name="round_off" id="round_off_100" value="100" <%= "checked" if ro == "100" %>>100원
				</div>
			</td>
		</tr>

		<tr>
			<td class="board_tbody_thick">구매 건수별 배율(할인율) 적용 <input type="checkbox" id="discount_rate_flag" <%= "checked" if dr_f == true %>>
				<div id="discount_rate_block">
					(ex: 3건 이상, 건수 - 0.5 => 3건 이상인 경우 실제 계산식에 곱할 배율은 2.5 가 된다.)
					<% @discount_rate.each do |dr| %>
						<div id="div_<%= dr.id %>">
						   <input type="text" style="width:30" value="<%= dr.quantity %>" id="qt_<%= dr.id %>">건
						    <select id="condition_<%= dr.id %>">
						    	<option value="gt" <%= "selected" if dr.condition == "gt" %>>이상</option>
								<option value="lt" <%= "selected" if dr.condition == "lt" %>>이하</option>
								<option value="eq" <%= "selected" if dr.condition == "eq" %>>동일</option>
						    </select>
							&nbsp;건수 - <input type="text" style="width:30" value="<%= dr.rate %>" id="rate_<%= dr.id %>">
							<input type="button" id="btn_discount_save_<%= dr.id %>" value="수정"><input type="button" class="discount_rate_del" id="<%= dr.id %>" value="삭제">
						</div>
					<%end %>
					<span id="insert_point"></span>
					<br>
					   <input type="text" style="width:30" id="qt">건
					    <select id="condition">
					    	<option value="gt">이상</option>
							<option value="lt">이하</option>
							<option value="eq">동일</option>
					    </select>
						&nbsp;건수 - <input type="text" style="width:30" id="rate">
						<input type="button" id="btn_discount_save" value="저장">
				<div>
			</td>
		</tr>
		
		<tr><td><input type="button" id="basic_save" value="기본설정 저장"></td></tr>
		<tr><td height="100px"></td></tr>
    </tbody>
</table> -->


<div id="category-list">
	<fieldset class="main-write-form">
		<legend>옵션 추가</legend>
		<label for="main-category-write">옵션명</label>
		<input type="text" name="option_name" id="main-category-write" class="textfield" placeholder="메인 옵션명 입력"/>
		<input id ="add_option" type="button" class="submit" value="추가"/>
	</fieldset>
	<ul id="sortables">
		<% @options.each do |option| %>
		<li id="opt_<%= option.id.to_s %>" class="main-category-list">
			<h4 id="opt_name_<%= option.id.to_s %>"><%= option.name %></h4>
			<p class="main-category-action"><a id="opt-edit_<%= option.id.to_s %>" class="edit"></a><a id="opt-del_<%= option.id.to_s %>" class="delete">삭제</a></p>
			<ul id="sortables_<%= option.id.to_s %>" class="main_sortable">
				<% Optionsub.all(:option_id => option.id, :order => [:priority]).each do |optionsub| 
					if option.id == optionsub.option_id
				%>
				<li id="optsub_<%= optionsub.id.to_s %>" class="sub-category-list">
					<h5 id="optsub_name_<%= optionsub.id.to_s %>"><%= optionsub.name %></h5>
					<p class="sub-category-action"><a id="optsub-edit_<%= optionsub.id.to_s %>" class="edit">수정</a><a id="optsub-del_<%= optionsub.id.to_s %>" class="delete">삭제</a></p>
				</li>
				<% end %>
			<% end %>
			</ul>
			<fieldset class="sub-write-form">
				<legend>서브 옵션 추가</legend>
				<label for="optionsub-write_<%= option.id.to_s %>">옵션명</label>
				<input type="text" name="optionsub_name" id="optionsub-write_<%= option.id.to_s %>" class="textfield"  placeholder="서브 옵션명 입력"/>
				<input type="text" name="optionsub_price" id="optionsub_price_<%= option.id.to_s %>" class="textfield2"  placeholder="단가 입력"/>
				<input id="add_optionsub_<%= option.id.to_s %>" class="submit" type="button" value="추가"/>
			</fieldset>
		</li>
		<% end %>
	</ul>
</div>



<script type="text/javascript">
$('#btn_material_save').click(function(){
	var ids = "";
	var vals = "";
	
	$('.unit_price_option').each(function(){
		ids = ids + $(this).attr("id") + ",";
		vals = vals + $(this).val() + ",";
	})
	option_save(ids, vals);
})

$('#btn_postproc_save').click(function(){
	var ids = "";
	var vals = "";
	
	$('.unit_price_postoption').each(function(){
		ids = ids + $(this).attr("id") + ",";
		vals = vals + $(this).val() + ",";
	})
	option_save(ids, vals);
})

function option_save(ids, vals){
	if ( window.confirm("저장하시겠습니까?")) {
		$.ajax({
			data:'ids='+ids+'&vals='+vals, 
			dataType:'script', 
			type:'post', 
			url:'/admin/options/option_unit_price_save',
			success: function(request){
				if (request == "success"){
					alert("저장이 완료되었습니다!");
				}else{
					alert("저장중 오류가 발생했습니다!");
				}
			}
		});
	}else{
		return false
	}
}

$('#basic_save').live("click", function(){
	var category_id = "";
	var category_name = "현수막";
	var bup = $('#basic_unit_price').val();
	var sl_f = $('#size_limit_flag').is(":checked");
	var lp_f = $('#lowest_price_flag').is(":checked");
	var lp = $('#lowest_price').val();
	var upcbm_f = $('#unit_price_change_by_material_flag').is(":checked");
	var upcbp_f = $('#unit_price_change_by_postproc_flag').is(":checked");
	var ro_f = $('#round_off_flag').is(":checked");
	var ro = "";
	if ($('#round_off_1000').is(":checked") == true) {
		ro = $('#round_off_1000').val();
	}else{
		if ($('#round_off_100').is(":checked") == true) {
			ro = $('#round_off_100').val();
		}else{
			ro = "";
		}
	
	}

	var dr_f = $('#discount_rate_flag').is(":checked");
	
	if (bup == "" || bup == "0") {
		alert("기본단가를 입력하세요!");
		$('#basic_unit_price').focus();
	}else{
		if (lp_f == true && (lp == "0" || lp == "") ) {
			alert("최저금액을 입력해주세요!");
			$('#lowest_price').focus();
		}else{
			if (window.confirm("기본설정을 저장하시겠습니까?")) {
				$.ajax({
					data:'category_id='+category_id+'&category_name='+category_name+'&bup='+bup+'&sl_f='+sl_f+'&lp_f='+lp_f+'&lp='+lp+'&upcbm_f='+upcbm_f+'&upcbp_f='+upcbp_f+'&ro_f='+ro_f+'&ro='+ro+'&ro='+ro+'&dr_f='+dr_f, 
					dataType:'script', 
					type:'post', 
					url:'/admin/options/basic_save',
					success: function(request){
						if (request == "success"){
							alert("저장이 완료되었습니다!");
						}
					}
				});
			}else{
				return false;
			};
		};
		
	};
})
$('.discount_rate_del').live("click", function(event){
	var id = $(this).attr("id");
	if(window.confirm("정말 삭제하시겠습니까?")){
		$.ajax({
			data:'id='+$(this).attr("id"), 
			dataType:'script', 
			type:'post', 
			url:'/admin/options/discount_del',
			success: function(request){
				if (request == "success"){
					// $('#insert_point').remove();
					$('#div_'+id).remove();
				}
			}
		});	
	}else{
		return false;
	}
	
})

$('#btn_discount_save').live("click", function(){
	if($('#qt').val() == "" ){
		alert("건수를 입력해주세요!");
		$('#qt').focus();
		return false;
	}
	if( $('#rate') == ""){
		alert("배율을 입력해주세요!");
		$('#rate').focus();
		return false;
	}
	
	$.ajax({
		data:'qt='+$('#qt').val()+'&rate='+ $('#rate').val()+'&condition='+ $('#condition').val()+'&mode='+'new'+'&category='+$('#category').val(), 
		dataType:'script', 
		type:'post', 
		url:'/admin/options/discount_save',
		success: function(request){
			if (request == "success"){
				alert("저장되었습니다!");
			}
		}
	});
})

function toggle_display(flag_id, block_id){
	var flag = flag_id;
	var block = block_id;
	
	if (flag.is(':checked') ) {
		block.css('display','block')
	}else{
		block.css('display','none')
	}
};

$('#lowest_price_flag').live("click",function(){
	toggle_display($('#lowest_price_flag'), $('#lowest_price_block'));
})


$('#unit_price_change_by_material_flag').live("click",function(){
	toggle_display($('#unit_price_change_by_material_flag'), $('#ul1'));
})

$('#unit_price_change_by_postproc_flag').live("click",function(){
	toggle_display($('#unit_price_change_by_postproc_flag'), $('#ul2'));
})

$('#discount_rate_flag').live("click",function(){
	toggle_display($('#discount_rate_flag'), $('#discount_rate_block'));
})

$('#round_off_flag').live("click",function(){
	toggle_display($('#round_off_flag'), $('#round_off_block'));
})


$(document).ready(function(){
	
	toggle_display($('#lowest_price_flag'), $('#lowest_price_block'));
	toggle_display($('#discount_rate_flag'), $('#discount_rate_block'));
	toggle_display($('#unit_price_change_by_material_flag'), $('#ul1'));
	toggle_display($('#unit_price_change_by_postproc_flag'), $('#ul2'));
	toggle_display($('#round_off_flag'), $('#round_off_block'));
	
	$('#sortables').click(function(event){
		if ( $(event.target).is('.delete') ){
			var temp_id = event.target.id.split("_");
			if (temp_id[0] == "opt-del"){
				var confirm_message = "옵션를 정말 삭제하시겠습니까?\n옵션이 삭제되면 해당 옵션에 속하는 \n모든 서브옵션들도 함께 삭제됩니다!"
			}else{
				var confirm_message = "서브옵션을 정말 삭제하시겠습니까?"				
			}
			
			if (window.confirm(confirm_message)){
				$.ajax({
					data:'option_id='+ event.target.id, 
					dataType:'script', 
					type:'post', 
					url:'/admin/options/delete_option',
					success: function(request){
						if (temp_id[0] == "opt-del"){
							$('#opt_'+temp_id[1]).slideUp('fast',function(){
								$('#opt_'+temp_id[1]).remove();
								
								$.ajax({
									data:'option_id='+result_option(), 
									dataType:'script', 
									type:'post', 
									url:'/admin/options/option_order_update'
								});
							})
							
						}else{
							$('#optsub_'+temp_id[1]).slideUp('fast',function(){
								$option_id = $('#optsub_'+temp_id[1]).parents('ul.main_sortable').attr("id");
								$('#optsub_'+temp_id[1]).remove();
								
								$.ajax({
									data:'option_id='+$option_id+'&optionsub_id='+ result_optionsub($option_id), 
									dataType:'script', 
									type:'post', 
									url:'/admin/options/optionsub_order_update'
								});
							})
							
						}
					}
				});
			};			
		};
		
		if ( $(event.target).is('.edit-complete') ){
			var temp_id = event.target.id.split("_");
			
			if (temp_id[0] == "opt-edit"){
				$('#opt-edit_'+temp_id[1]).removeClass('edit-complete').addClass('edit');
				var option_name = $('#opt-input_'+temp_id[1]).val();
			}else{
				$('#optsub-edit_'+temp_id[1]).removeClass('edit-complete').addClass('edit');
				var option_name = $('#optsub-input_'+temp_id[1]).val();
			}
			$.ajax({
				data:'option_name='+option_name+'&option_id='+ event.target.id, 
				dataType:'script', 
				type:'post', 
				url:'/admin/options/update_option',
				success: function(request){
					if (temp_id[0] == "opt-edit"){
						$('#opt_name_'+temp_id[1]).text($('#opt-input_'+temp_id[1]).val());
					}else{
						$('#optsub_name_'+temp_id[1]).text($('#optsub-input_'+temp_id[1]).val());
					}
				}
			});
			event.stopPropagatoin();
		};	

		if ( $(event.target).is('.edit') ){
			var temp_id = event.target.id.split("_");
			if (temp_id[0] == "opt-edit"){
				// $('#opt-edit_'+temp_id[1]).removeClass("edit");
				$('#opt-edit_'+temp_id[1]).removeClass('edit').addClass('edit-complete');
				$('#opt_name_'+temp_id[1]).html("<input id='opt-input_"+temp_id[1]+"' type='text'  class='textfield' value='"+$('#opt_name_'+temp_id[1]).text()+"'>&nbsp;");
				$('#opt-input_'+temp_id[1]).focus();
			}else{
				$('#optsub-edit_'+temp_id[1]).removeClass('edit').addClass('edit-complete');
				$('#optsub_name_'+temp_id[1]).html("<input id='optsub-input_"+temp_id[1]+"' type='text'  class='textfield' value='"+$('#optsub_name_'+temp_id[1]).text()+"'>&nbsp;");
				$('#optsub-input_'+temp_id[1]).focus();
			}
		};	
		
		
	});
	
	$('#add_option').click(function() {
		if ($('#main-category-write').val() == ""){
			alert("옵션명을 입력하세요~");
		}else{
			$.ajax({
				data:'option_name='+ $('#main-category-write').val(), 
				dataType:'script', 
				type:'post', 
				url:'/admin/options/add_option'
			});	
		}
	});
	
	<% @options.each do |option| %>
	$('#add_optionsub_<%= option.id.to_s %>').click(function() {
		if ($('#optionsub-write_<%= option.id.to_s %>').val() == ""){
			alert("옵션명을 입력하세요~");
		}else{
			$.ajax({
				data:'option_id=<%= option.id.to_s %>&optionsub_name='+ $('#optionsub-write_<%= option.id.to_s %>').val()+'&option_price='+$('#optionsub_price_<%= option.id.to_s %>').val(), 
				dataType:'script', 
				type:'post', 
				url:'/admin/options/add_optionsub',
				success: function(request){
					
				}
			});	
		}
	});
	<% end %>	
});


  $("#sortables").sortable({
   update: function(event, ui) { 
	<%= remote_function(:url  => {:action => "option_order_update"},:with => "'option_id='+result_option()") %>
	}
  });

   //function to execute when doc ready
   $(function() {
      //make specified element sortable
      $("#sortables").sortable({axis: 'y' });

   });

<% @options.each do |option| %>
	$("#sortables_<%= option.id.to_s %>").sortable({
	   update: function(event, ui) { 
		<%= remote_function(:url  => {:action => "optionsub_order_update"},:with => "'option_id=#{option.id.to_s}&optionsub_id='+result_option_#{option.id.to_s}()") %>
		}
	}).addTouch();

	 $(function() {
	    $("#sortables_<%= option.id.to_s %>").sortable({axis: 'y' });
	 });

	function result_option_<%= option.id.to_s %>(){
	  var result = new Array();
	  result = $('#sortables_<%= option.id.to_s %>').sortable('toArray');
	  return result;
	}
	
<% end %>
	function result_optionsub(option_id){
	  var result = new Array();
	  result = $('#'+option_id).sortable('toArray');
	  return result;
	}

	function result(){
	  var result = new Array();
	  result = $('#sortables').sortable('toArray');
	  return result;
	}
	
	function result2(){
	  var result = new Array();

	$("input[name=chk]:checkbox:checked").each(
	     function (){
	       result += this.value + ',';    // 명령어
	 });
	return result

	}

	$(function()
	{
		$('#pane').jScrollPane();
	});
	
	function result_option(){
	  var result = new Array();
	  result = $('#sortables').sortable('toArray');
	  return result;
	};	

	
 </script>

<div id="created_option"></div>
<div id="created_optionsub"></div>
<div id="discount_rate_div"></div>