<div id="notice" class="content-layout">
	<h3>질문과 답변</h3>
	<hr/>
	<div class="board_article">
		<ul class="article_info">
			<li class="author"><strong>작성자</strong> 관리자</li>
			<li class="date"><strong>작성일</strong> <%= @notice.created_at.strftime('%Y.%m.%d') %></li>
		</ul>
		<div class="article_content">
			<h4 class="subject"><%= @notice.title %></h4>
			<div>
				<%= simple_format(@notice.content) %>
			</div>
		</div>
		<div id="top_actions" class="actions">
			<h4>게시판 동작</h4>
			<ul>
				<li class="back-list"><a href="/notices?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></li>
			</ul>
		</div>
		<div class="actions">
			<h4>게시판 동작</h4>
		</div>
	</div>
	
	<p><a href="/notices?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></p>
</div>