<table width="800">
	<tr>
		<td width="250">왼쪽</td>
		<td width="250">가운데</td>
		<td width="250">오른쪽</td>
	</tr>
	<tr valign="top">
		<td width="170">
			<div id="sortables_left">
				<% @banner_left.each do |l| %>
				<div id="<%= l.id %>">
					<input id="<%= l.id %>" class="del" type="button" value="삭제"><br>
					<%if l.type == "swf" %>
					 <embed src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{l.img_filename}" %>" type="application/x-shockwave-flash" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" width="170"></embed>
					<%else %>
						<img title="<%= l.link_url %>" width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{l.img_filename}" %>">
					<%end %>
					<br>
				</div>
				<%end %>
			</div>
		</td>
		<td width="500">
			<div id="sortables_center">
				<% @banner_center.each do |c| %>
				<div id="<%= c.id %>">
					<input id="<%= c.id %>" class="del" type="button" value="삭제"><br>
					<%if c.type == "swf" %>
					 <embed src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{c.img_filename}" %>" type="application/x-shockwave-flash" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" width="170"></embed>
					<%else %>
						<img title="<%= c.link_url %>" width="330" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{c.img_filename}" %>">
					<%end %>
					<br>
				</div>
				<%end %>
			</div>
		</td>
		<td width="170">
			<div id="sortables_right">
				<% @banner_right.each do |r| %>
				<div id="<%= r.id %>">
					<input id="<%= r.id %>" class="del" type="button" value="삭제"><br>
					<%if r.type == "swf" %>
					 <embed src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{r.img_filename}" %>" type="application/x-shockwave-flash" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" width="170"></embed>
					<%else %>
						<img title="<%= r.link_url %>" width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{r.img_filename}" %>">
					<%end %>
					<br>
				</div>
				<%end %>
			</div>
		</td>
	</tr>
</table>