<%
	if params[:ca] == "" or params[:ca] == nil
		category = "현수막"
	else
		category = params[:ca]
	end
	
	if Option_basic.first(:category_name => category) != nil
		@option_basic = Option_basic.first(:category_name => category)
		option_basic_id = @option_basic.id
		category_id 	= @option_basic.category_id
		category_name 	= @option_basic.category_name
		sl_f  			= @option_basic.size_limit_flag
		lp_f 			= @option_basic.lowest_price_flag
		lp 				= @option_basic.lowest_price
		upcbp_f 		= @option_basic.unit_price_change_by_postproc_flag
		upcbm_f 		= @option_basic.unit_price_change_by_meterial_flag
		ro_f 			= @option_basic.round_off_flag
		ro 				= @option_basic.round_off_unit
		dr_f 			= @option_basic.discount_rate_flag
	else
		@option_basic = Option_basic.new()
		@option_basic.save
		
	end
	
%>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/js/jquery_1.4.2/ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jquery.em.js"></script>
<script type="text/javascript" src="/js/jScrollPane/jScrollPane.js"></script>
<script type="text/javascript" src="/js/jquery.ui.ipad.js"></script>

<link href="/css/admin/layout.css" rel="stylesheet" type="text/css" />


<div id="feature_wrapper">
	<p1>기본설정</p1>
	<select id="category_select">
		<% 
			Rcategory.all.each do |rc|
			%>
 				<option value="<%= rc.name %>" <%= "selected" if params[:ca] == rc.name or (params[:ca] == nil and rc.name == "현수막")%>><%= rc.name %></option>
			<%
			end

		%>
	</select>&nbsp; (카테고리 설정에서 미리 [대표카테고리] 설정을 하셔야 합니다.)
	<br>
</div>

<input type="hidden" name="category" id="category" value="<%= category %>">
<table class="board_table">
    <thead class="logo">
        <tr>
            <th class="board_thead" width="700px">계산식:
				{ { (가로x세로x기본단가) + 후가공 } x건수 } x 1.1(부가세)
			</th>
        </tr>
    </thead>
    <tbody class="logo">
		<tr>
            <td class="board_tbody" width="200px">기본단가: <input type="text" id="basic_unit_price" value="<%= @option_basic.unit_price %>">원
	
			</td>
        </tr>
		<tr>
			<td class="board_tbody">가로, 세로 100cm가 안될 경우 무조건 100cm로 계산 <input type="checkbox" id="size_limit_flag" <%= "checked" if sl_f == true %>></td>
		</tr>
		<tr>
			<td class="board_tbody">최저금액 적용여부 <input type="checkbox" id="lowest_price_flag" <%= "checked" if lp_f == true %>>
				<span id="lowest_price_block"><input type="text" id="lowest_price" value="<%= lp %>">원</span>
			</td>
		</tr>
		
		<tr>
			<td class="board_tbody">특정 소재 선택시 기본단가 변경 <input type="checkbox" id="unit_price_change_by_material_flag" <%= "checked" if upcbm_f == true %>>
				<ul id="ul1" style="padding:0 0 0 10px;">
					<%
					Optionsub.all(:category_name => category, :option_id => 1).each do |opt| 
					%>
					<span style="padding:0 20px 0 0"><%= opt.name %></span>
					<input type="text" class="unit_price_option" id="<%= opt.id %>" value="<%= opt.unit_price %>">원<br>
					<%
					end
					%><input type="button" id="btn_material_save" value="기본단가 저장">
				</div>
			</td>
		</tr>
		
		<tr>
			<td class="board_tbody">특정 후가공 선택시 기본단가 변경 <input type="checkbox" id="unit_price_change_by_postproc_flag" <%= "checked" if upcbp_f == true %>>
				<ul id="ul2" style="padding:0 0 0 10px;">
					<%
					Optionsub.all(:category_name => category, :option_id => 2).each do |opt| 
					%>
					<span style="padding:0 20px 0 0"><%= opt.name %></span> 
					<input type="text" class="unit_price_postoption" id="<%= opt.id %>" value="<%= opt.unit_price %>">원<br>
					<%
					end
					%><input type="button" id="btn_postproc_save" value="기본단가 저장">
				</div>
			</td>
		</tr> 
		<tr>
			<td class="board_tbody">반올림 적용여부 및 단위 <input type="checkbox" id="round_off_flag" <%= "checked" if ro_f == true %>>
				<div id="round_off_block">
					<br><input type="radio" name="round_off" id="round_off_1000" value="1000" <%= "checked" if ro == "1000" %>>1,000원 
					<input type="radio" name="round_off" id="round_off_100" value="100" <%= "checked" if ro == "100" %>>100원
				</div>
			</td>
		</tr>

		<!-- <tr>
			<td class="board_tbody_thick">구매 건수별 배율(할인율) 적용 <input type="checkbox" id="discount_rate_flag" <%= "checked" if dr_f == true %>>
				<div id="discount_rate_block">
					(ex: 3건 이상, 건수 - 0.5 => 3건 이상인 경우 실제 계산식에 곱할 배율은 2.5 가 된다.)
					<% Discount_rate.all(:option_basic_id => option_basic_id).each do |dr| %>
						<div id="div_<%= dr.id %>">
						   <input type="text" style="width:30" value="<%= dr.quantity %>" id="qt_<%= dr.id %>">건
						    <select id="condition_<%= dr.id %>">
						    	<option value="gt" <%= "selected" if dr.condition == "gt" %>>이상</option>
								<option value="lt" <%= "selected" if dr.condition == "lt" %>>이하</option>
								<option value="eq" <%= "selected" if dr.condition == "eq" %>>동일</option>
						    </select>
							&nbsp;건수 - <input type="text" style="width:30" value="<%= dr.rate %>" id="rate_<%= dr.id %>">
							<input type="button" class="discount_rate_update" id="discount_update_<%= dr.id %>" value="수정"><input type="button" class="discount_rate_del" id="<%= dr.id %>" value="삭제">
						</div>
					<%end %>
					<span id="insert_point"></span>
					<br>
					   <input type="text" style="width:30" id="qt">건
					    <select id="condition">
					    	<option value="gt">이상</option>
							<option value="lt">이하</option>
							<option value="eq">동일</option>
					    </select>
						&nbsp;건수 - <input type="text" style="width:30" id="rate">
						<input type="button" id="btn_discount_save" value="저장">
				<div>
			</td>
		</tr> -->
		
		<tr><td><input type="button" id="basic_save" value="기본설정 저장"></td></tr>
		<tr><td height="100px"></td></tr>
    </tbody>
</table>






<script type="text/javascript">
$('#category_select').live("change", function(){
	window.location.href = "/admin/optionbasics?ca="+$('#category_select :selected').val();
})

$('#btn_material_save').click(function(){
	var ids = "";
	var vals = "";
	
	$('.unit_price_option').each(function(){
		ids = ids + $(this).attr("id") + ",";
		vals = vals + $(this).val() + ",";
	})
	option_save(ids, vals);
})

$('#btn_postproc_save').click(function(){
	var ids = "";
	var vals = "";
	
	$('.unit_price_postoption').each(function(){
		ids = ids + $(this).attr("id") + ",";
		vals = vals + $(this).val() + ",";
	})
	option_save(ids, vals);
})

function option_save(ids, vals){
	if ( window.confirm("저장하시겠습니까?")) {
		$.ajax({
			data:'ids='+ids+'&vals='+vals, 
			dataType:'script', 
			type:'post', 
			url:'/admin/optionbasics/option_unit_price_save',
			success: function(request){
				if (request == "success"){
					alert("저장이 완료되었습니다!");
				}else{
					alert("저장중 오류가 발생했습니다!");
				}
			}
		});
	}else{
		return false
	}
}

$('#basic_save').live("click", function(){
	var category_id = "";
	var category_name = "<%= category %>";
	var bup = $('#basic_unit_price').val();
	var sl_f = $('#size_limit_flag').is(":checked");
	var lp_f = $('#lowest_price_flag').is(":checked");
	var lp = $('#lowest_price').val();
	var upcbm_f = $('#unit_price_change_by_material_flag').is(":checked");
	var upcbp_f = $('#unit_price_change_by_postproc_flag').is(":checked");
	var ro_f = $('#round_off_flag').is(":checked");
	var ro = "";
	if ($('#round_off_1000').is(":checked") == true) {
		ro = $('#round_off_1000').val();
	}else{
		if ($('#round_off_100').is(":checked") == true) {
			ro = $('#round_off_100').val();
		}else{
			ro = "";
		}
	
	}

	var dr_f = $('#discount_rate_flag').is(":checked");
	
	if (bup == "" || bup == "0") {
		alert("기본단가를 입력하세요!");
		$('#basic_unit_price').focus();
	}else{
		if (lp_f == true && (lp == "0" || lp == "") ) {
			alert("최저금액을 입력해주세요!");
			$('#lowest_price').focus();
		}else{
			if (window.confirm("기본설정을 저장하시겠습니까?")) {
				$.ajax({
					data:'category_id='+category_id+'&category_name='+category_name+'&bup='+bup+'&sl_f='+sl_f+'&lp_f='+lp_f+'&lp='+lp+'&upcbm_f='+upcbm_f+'&upcbp_f='+upcbp_f+'&ro_f='+ro_f+'&ro='+ro+'&ro='+ro+'&dr_f='+dr_f, 
					dataType:'script', 
					type:'post', 
					url:'/admin/optionbasics/basic_save',
					success: function(request){
						if (request == "success"){
							alert("저장이 완료되었습니다!");
						}
					}
				});
			}else{
				return false;
			};
		};
		
	};
})
$('.discount_rate_del').live("click", function(event){
	var id = $(this).attr("id");
	if(window.confirm("정말 삭제하시겠습니까?")){
		$.ajax({
			data:'id='+$(this).attr("id"), 
			dataType:'script', 
			type:'post', 
			url:'/admin/optionbasics/discount_del',
			success: function(request){
				if (request == "success"){
					// $('#insert_point').remove();
					$('#div_'+id).remove();
				}
			}
		});	
	}else{
		return false;
	}
	
})

$('.discount_rate_update').live("click", function(event){
	var id = $(this).attr("id").replace("discount_update_","");
	
	qt = $('#qt_'+ id).val();
	condition = $('#condition_'+ id).val();
	rate = $('#rate_'+ id).val();
		
	if(window.confirm("수정 하시겠습니까?")){
		$.ajax({
			data:'qt='+qt+'&rate='+ rate +'&condition='+ condition +'&mode=update'+'&rate_id='+id+'&category='+$('#category').val(), 
			dataType:'script', 
			type:'post', 
			url:'/admin/optionbasics/discount_save',
			success: function(request){
				if (request == "success"){
					alert("수정 완료되었습니다!");
				}
			}
		});	
	}else{
		return false;
	}
	
})

$('#btn_discount_save').live("click", function(){
	if($('#qt').val() == "" ){
		alert("건수를 입력해주세요!");
		$('#qt').focus();
		return false;
	}
	if( $('#rate') == ""){
		alert("배율을 입력해주세요!");
		$('#rate').focus();
		return false;
	}
	
	$.ajax({
		data:'qt='+$('#qt').val()+'&rate='+ $('#rate').val()+'&condition='+ $('#condition').val()+'&mode='+'new'+'&category='+$('#category').val(), 
		dataType:'script', 
		type:'post', 
		url:'/admin/optionbasics/discount_save',
		success: function(request){
			if (request == "success"){
				alert("저장되었습니다!");
			}
		}
	});
})

function toggle_display(flag_id, block_id){
	var flag = flag_id;
	var block = block_id;
	
	if (flag.is(':checked') ) {
		block.css('display','block')
	}else{
		block.css('display','none')
	}
};

$('#lowest_price_flag').live("click",function(){
	toggle_display($('#lowest_price_flag'), $('#lowest_price_block'));
})


$('#unit_price_change_by_material_flag').live("click",function(){
	toggle_display($('#unit_price_change_by_material_flag'), $('#ul1'));
})

$('#unit_price_change_by_postproc_flag').live("click",function(){
	toggle_display($('#unit_price_change_by_postproc_flag'), $('#ul2'));
})

$('#discount_rate_flag').live("click",function(){
	toggle_display($('#discount_rate_flag'), $('#discount_rate_block'));
})

$('#round_off_flag').live("click",function(){
	toggle_display($('#round_off_flag'), $('#round_off_block'));
})


$(document).ready(function(){
	
	toggle_display($('#lowest_price_flag'), $('#lowest_price_block'));
	toggle_display($('#discount_rate_flag'), $('#discount_rate_block'));
	toggle_display($('#unit_price_change_by_material_flag'), $('#ul1'));
	toggle_display($('#unit_price_change_by_postproc_flag'), $('#ul2'));
	toggle_display($('#round_off_flag'), $('#round_off_block'));
})	

 </script>

<div id="discount_rate_div"></div>