<div id="edit-user-form">
<h3>정보수정</h3>
<p>비밀번호나 이메일 주소 등 기본사항에 변동사항이 있다면, 원활한 연락을 위해 꼭 수정해주세요.</p>
<fieldset>
	<legend>가입정보 입력</legend>
	<p><label for="user-id">가입 아이디</label> <%= current_user.userid %></p>
	<input type="hidden" id="user_id" value="<%= current_user.id %>">
	<p><label for="user-name">성함</label> <%= current_user.name %></p>
	<p><label for="user-password">현재 비밀번호</label> <input type="password" name="user[current_password]" placeholder="비밀번호 입력" id="user-password"/></p>
	<p><label for="user-new-password">수정 비밀번호</label> <input type="password" name="user[new_password]" placeholder="비밀번호 재입력" id="user-new-password"/></p>
	<p><label for="user-email">이메일 주소</label> <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="<%= @user.email %>" id="user-email"/></p>
	<p><label for="user-tel">일반전화</label> <input type="text" name="user[tel]" value="<%= @user.tel %>" placeholder="<%= @user.tel %>" id="user-tel"/></p>
	<p><label for="user-mobile">휴대전화</label> <input type="text" name="user[mobile]" value="<%= @user.mobile %>" placeholder="<%= @user.mobile %>" id="user-mobile"/></p>
	<p><label for="user-zip">우편번호</label> <input type="text" name="user[zip]" value="<%= @user.zip %>" placeholder="<%= @user.zip %>" id="user-zip"/></p>
	<p><label for="user-addr1">주소1</label> <input type="text" name="user[addr1]" value="<%= @user.addr1 %>" placeholder="<%= @user.addr1 %>" id="user-addr1"/></p>
	<p><label for="user-addr2">주소2</label> <input type="text" name="user[addr2]" value="<%= @user.addr2 %>" placeholder="<%= @user.addr2 %>" id="user-addr2"/></p>
	
</fieldset>
<input onClick="member_modify();" type="button" value="수정완료" class="submit-button"/>
<a href="/pages/withdraw" class="withdraw">탈퇴하기</a>
</div>