		<div id="<%=(@menu == "home")? "category" : "submenu"%>">
			<h3>제품 카테고리</h3>
			<ul<%=(@menu == "home")? " class=\"sideblock\"" : nil%>>
<% @categories = Category.all(:order => [ :priority.asc ]) %>
<% @categories.each do |category| %>
				<li>
					<a class="<%=(params[:category_name].to_i==category.id)?"title-on":"title"%>" href="/temps?category_name=<%= category.id %>"<%= "class='on'" if @category_name == category.name%>><%= category.name %></a>
<% @subcategories = category.subcategories.all(:order => [ :priority.asc ])
if @subcategories.count !=0 %>
					<ul>
<% @subcategories.each do |subcategory| %>
	<li<%=(params[:subcategory_name].to_i==subcategory.id)?" class=\"on\"":nil%>><a class="sub-title" href="/temps?category_name=<%= category.id %>&subcategory_name=<%= subcategory.id %>"<%= " class='on'" if @subcategory_name == subcategory.name and @category_name == category.name%>><%= subcategory.name %></a></li>
<% end  %>
					</ul>
<% end %>
				</li>
<% end  %>
			</ul>
			<div id="category-banner" class="banner">
				<!-- loop : 170px 고정 -->
				<% @banner = Banner.all(:location => "left", :order => [:order])%>
				<% @banner.each do |b| %>
					<%if b.link_url != nil and b.link_url != "" %>
						<div>
							<%if b.type == "swf" %>
								<a href="<%= b.link_url %>" <%= "target='_blank'" if b.mode = "new" %> ><embed src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>" type="application/x-shockwave-flash" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" width="170"></embed></a>
							<%else %>
								<a href="<%= b.link_url %>" <%= "target='_blank'" if b.mode = "new" %> ><img width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>"></a>
							<%end %>
						</div>
					<%else %>
					<div>
						<%if b.type == "swf" %>
							<embed src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>" type="application/x-shockwave-flash" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" width="170"></embed>
						<%else %>
							<img width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>">
						<%end %>
					</div>
					<%end %>
				<%end %>
			</div>
		</div>