	<div id="sitemap">
		<div class="introduction">
			<h5><a href="/pages/about">사이트 소개</a></h5>
			<ul>
				<li><a href="/pages/about">회사소개</a></li>
				<li><a href="/pages/guide">사이트 이용안내</a></li>
				<li><a href="/pages/map">연락처/오시는길</a></li>
			</ul>
		</div>
		<div class="design">
			<h5><a href="/temps">제품/디자인 보기</a></h5>
			<ul>
				<li><a href="/temps">마음에 드는 디자인을 선택해서 주문을 할 수 있는 메뉴입니다.</a></li>
			</ul>
		</div>
		<div class="cart">
			<h5><a href="/mytemplates">디자인바구니</a></h5>
			<ul>
				<li><a href="/mytemplates">편집 작업/주문한 디자인이 담기는 공간입니다.</a></li>
			</ul>
		</div>
		<div class="delivery">
			<h5><a href="/myorders">주문/배송조회</a></h5>
			<ul>
				<li><a href="/myorders">배송/결제정보가 보관되는 공간입니다.</a></li>
			</ul>
		</div>
		<div class="cscenter">
			<h5><a href="/notices">고객센터</a></h5>
			<ul>
				<li><a href="/notices">공지사항</a></li>
				<li><a href="/freeboards">질문과 답변</a></li>
				<li><a href="/faqs">자주 묻는 질문</a></li>
				<li><a href="/pages/tos">사이트 이용약관</a></li>
				<li><a href="/pages/policy">개인정보 보호정책</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div id="footer-wrap">
			<h2><img src="/images/admin/main/<%= Admininfo.first(:category => "logos", :info => "logo_bottom").file_name %>" alt="<%= Admininfo.first(:category => "basic_info", :name => "회사명").content %>" width="160" height="60" alt="###사이트제목###" /></h2>
			<address>
				<p class="address"><%= Admininfo.first(:category => "basic_info", :name => "회사주소").content %></p>
				<p class="telephone"><%= Admininfo.first(:category => "basic_info", :name => "전화번호").content %></p>
				<p class="fax"><%= Admininfo.first(:category => "basic_info", :name => "팩스번호").content %></p>
				<p class="email"><a href="mailto:<%= Admininfo.first(:category => "basic_info", :name => "대표 이메일주소").content %>">관리자에게 이메일 보내기</a></p>
			</address>
			<h3>그외 정보</h3>
			<ul>
				<li class="business-num1"><strong>사업자등록번호 : </strong><%= Admininfo.first(:category => "basic_info", :name => "사업자등록번호").content %></li>
				<li class="business-num2"><strong>통신판매업번호 : </strong><%= Admininfo.first(:category => "basic_info", :name => "통신판매업번호").content %></li>
				<li class="privacy"><strong>개인정보관리책임자 : </strong><%= Admininfo.first(:category => "agreement", :name => "책임자 성명").content %></li>
			</ul>
		</div>
	</div>