	<div id="header">
		<h1 id="site_logo"><a href="/"><img src="/images/skin.cloud/default_logo.png" alt="<%= Admininfo.first(:category => "basic_info", :name => "사이트명").content %>"/></a></h1>
		<hr/>
		<div id="nav-menu">
			<h2>사이트 메뉴</h2>
			<ul>
				<li class="guide"><a href="/pages/guide">이용안내</a></li>
				<li class="template"><a href="/temps"<%=(@menu == "template")?" class=\"on\"":nil%>>제품/디자인 보기</a></li>
				<li class="designcart"><a href="/mytemplates"<%=" class=\"ajax-sign-in\"" if !signed_in? %><%=(@menu == "mytemplate")?" class=\"on\"":nil%>>디자인바구니</a></li>
				<li class="order-delivery"><a href="/myorders"<%=" class=\"ajax-sign-in\"" if !signed_in? %><%=(@menu == "myorder")?" class=\"on\"":nil%>>접수/배송확인</a></li>
				<li class="cscenter"><a href="/notices">고객센터</a></li>
			</ul>
		</div>
		<div id="nav-quick">
			<h3>빠른메뉴</h3>
			<ul>
				<!--<li class="order"><a href="/pages/order">직접 접수하기</a></li>-->
				<li class="about"><a href="/pages/about">회사소개</a></li>
				<li class="map"><a href="/pages/map">연락처 및 오시는 길</a></li>
				<li class="tempskin"><a href="#">데모용 스킨</a></li>
			</ul>
		</div>
	</div>
	<div id="nav_message">
		<%
		if !signed_in?
			if Mytemplate.all(:user_id => current_user.id, :feedback_code => Basicinfo.first(:category => "job_process", :name => "처리완료").code).count > 0
				status_str = "<a href='/mytemplates' class='complate'>편집의뢰한 항목이 처리되었습니다. 디자인 바구니에서 확인해주세요.</a>"
			else
				status_str = ""
			end
		else
			status_str = ""
		end
		%>
		<div class="message"><%= status_str %></div>
		<a href="#" class="today_hide">오늘 하루 보지 않기</a>
	</div>