		<div id="quick-section">
			<div id="myinfo" class="sideblock">
<% if signed_in? %>
				<!-- myinfo start -->
				<div id="info">
					<h3>My info</h3>
					<ul>
						<li class="login-id"><%= current_user.name %></li>
						<li class="login-name"><%= current_user.userid %></li>
						<li class="logout"><a href="/logout">로그아웃</a></li>
						<li class="webhard"><a href="/myimages" class="ajax-myimages">내 이미지하드</a></li>
						<li class="user-edit"><a href="/users/<%= current_user.id %>/edit" class="ajax-edit">정보수정</a></li>
					</ul>
				</div>
				<div id="work-summary">
					<h3>진행상태 요약</h3>
					<ul>
						<li class="no-line"><strong>접수완료</strong> <span><%= Myorder.all(:user_id => current_user.id, :status => Basicinfo.first(:category => "order_process", :name => "접수완료").code).count %>건</span></li>
						<li><strong>입금요청</strong> <span><%= Myorder.all(:user_id => current_user.id, :status => Basicinfo.first(:category => "order_process", :name => "입금(결제)대기").code).count %>건</span></li>
						<li><strong>제작중</strong> <span><%= Myorder.all(:user_id => current_user.id, :status => Basicinfo.first(:category => "order_process", :name => "제작중").code).count %>건</span></li>
						<li><strong>제작완료</strong> <span><%= Myorder.all(:user_id => current_user.id, :status => Basicinfo.first(:category => "order_process", :name => "제작완료").code).count %>건</span></li>
						<li><strong>배송중</strong> <span><%= Myorder.all(:user_id => current_user.id, :status => Basicinfo.first(:category => "order_process", :name => "배송중").code).count %>건</span></li>
					</ul>
				</div>
				<!--myinfo end -->
<% else %>
				<!-- login start -->
				<h3 id="title-signin">Sign in</h3>
				<% form_for(:session, :url => sessions_path) do |f| %>
				<input type="hidden" name="session[uri]" value="<%= params[:uri] %>">
					<fieldset id="quick-login">
							<legend>로그인 정보 입력</legend>
							<p>
								<label for="userid">아이디</label>
								<input name="session[userid]" id="userid" type="text" placeholder="ID" autofocus/>
							</p>
							<p>
								<label for="password">비밀번호</label>
								<input name="session[password]" id="password" type="password" placeholder="PASSWORD"/>
							</p>
							<input id="submit_btn" type="submit" value="로그인" class="submit-button">
					</fieldset>
				<% end %>
				<p class="signup-message"><a href="/users/new" class="ajax-sign-up">회원가입</a> 무료 회원 가입하시고, 웹 편집 기능을 사용해보세요. </p>
				<!-- login end -->
<% end %>
			</div>
			
			<div id="custom_order">
				<h3>디자인 의뢰 / 파일 직접 접수</h3>
				<ul>
<% if signed_in? %>
					<li><a href="/pages/custom_order" class="ajax-custom-order"><img src="/images/default/quicksection-custom-order.png" alt="quicksection-custom-order" width="170" height="134" border="0"/></a></li>
<% else %>
					<li><a href="/login" class="ajax-sign-in"><img src="/images/default/quicksection-custom-order.png" alt="quicksection-custom-order" width="170" height="134" border="0"/></a></li>
<% end %>
				</ul>
			</div>
			
			<%if Skin.first().recommend_bw == true %>
			<div id="recommend_browser">
				<div class="wrap">
					<h4>추천 인터넷 브라우저</h4>
					<p>보안성과 뛰어난 성능을 갖춘<br/><strong>웹표준 브라우저</strong>을 추천합니다.</p>
					<ul>
						<li class="safari"><a href="http://www.apple.com/kr/safari/" target="_blank">Apple Safari</a></li>
						<li class="chrome"><a href="http://www.google.com/chrome" target="_blank">Google Chrome</a></li>
						<li class="firefox"><a href="http://www.mozilla.or.kr/ko/" target="_blank">Mozilla Firefox</a></li>
					</ul>
				</div>
			</div>
			<%end %>
			<!--			
			<div id="quick-link">
				<h3>빠른 메뉴</h3>
				<ul>
					<li id="direct-order"><img src="/images/default/button-direct-order.png"></li>
				</ul>
			</div>
			-->
			<ul id="quick-information">
				<li class="payment">
					<h4>결제계좌번호</h4>
					<p><%= Admininfo.first(:category => "basic_info", :name => "결제 계좌 은행").content %> / <%= Admininfo.first(:category => "basic_info", :name => "결제 계좌 예금주").content %> <br/> <%= Admininfo.first(:category => "basic_info", :name => "결제계좌 번호").content %> </p>
				</li>
				<li class="business-time">
					<h4>업무시간</h4>
					<p><%= Admininfo.first(:category => "basic_info", :name => "업무시간").content %></p>
				</li>
				<li class="cscenter-phone">
					<h4>고객센터 전화번호</h4>
					<p><%= Admininfo.first(:category => "basic_info", :name => "전화번호").content %><br/>업무시간외 통화불가</p>
				</li>
			</ul>
			<div id="quick-banner" class="banner">
				<!-- 배너 이미지 반복 -->
				<% @banner = Banner.all(:location => "right", :order => [:order])%>
				<% @banner.each do |b| %>
				<%if b.link_url != nil and b.link_url != "" %>
					<div>
						<a href="<%= b.link_url %>" <%= "target='_blank'" if b.mode = "new" %> ><img width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>"></a>
					</div>
				<%else %>
				<div>
					<img width="170" src="<%= "#{HOSTING_URL}" + "images/admin/banner/#{b.img_filename}" %>">
				</div>
				<%end %>
				<%end %>
			</div>
		</div>
		
<script language="Javascript">
$('#submit_btn').click(function(){
	if ($('#userid').val() == ""){
		alert("아이디를 입력해주세요.");
		$('#userid').focus();
		return false;
	}
	if ($('#password').val() == ""){
		alert("비밀번호를 입력해주세요.");
		$('#password').focus();
		return false;
	}
})
</script>		