<%= stylesheet_link_tag '/css/paginate.css' %>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
<div id="feature_wrapper">
		<p1>사용자들에게 공개하는 이미지 입니다.</p1>
		<% if ! flash[:notice].nil? %>
			<br>
			<span class="error_message_small"><%= flash[:notice].to_s %></span>
		<% end %>		
		<br><br>

	</div>
	
	<script>
		$(function() {
			$('.cat_btn').css("color", "black").css("font-size", "13px");
			$('.subcat_btn').css("color", "black").css("font-size", "11px");
			
			
			
			<%if params[:cat] != "all" %>
				$('.top_subcategory').show() ;
			<%end %>
			
			$('.cat_btn').each(function(){
				if ( $(this).attr("category") == "<%=  params[:cat] %>" ) {
					$(this).css("color", "blue").css("font-size", "15px");
				}
			})
			$('.subcat_btn').each(function(){
				if ( $(this).attr("subcategory") == "<%=  params[:subcat] %>" ) {
					$(this).css("color", "blue").css("font-size", "12px");
				}
			})
			
			$( "input:button", ".top_category" ).button();
			$( "input:button", ".top_subcategory" ).button();
			
			$( ".cat_btn" ).click(function() { 
				location.href = "/admin/sharedimages?cat="+$(this).attr("category")+"&subcat=all&open_fl=<%=params[:open_fl]%>";
			});
			$( ".subcat_btn" ).click(function() { 
				location.href = "/admin/sharedimages?cat=<%=params[:cat]%>&subcat="+$(this).attr("subcategory")+"&open_fl=<%=params[:open_fl]%>";
			});
			
			$('.open_fl').each(function(){
				if ( $(this).attr("fl") == "<%=  params[:open_fl] %>" ) {
					$(this).css("color", "blue").css("font-size", "22px");
				}
			})
		});
		
		</script>



	<div class="top_category" style="width: 850px;">
		<input id="cat_all" class="cat_btn" type="button" category="all" value="전체">
		<%@categories.each do |cat| %>
			<input class="cat_btn" type="button" category="<%= cat.id %>" value="<%= cat.name %>" style="font-size:13px;">
		<%end %>
	
	</div><!-- End demo -->

	<div class="top_subcategory" style="display:none;padding:5 0 10 10;">
		<input id="subcat_all" class="subcat_btn" type="button" subcategory="all" value="전체">
		<%@subcategories.each do |subcat| %>
			<input class="subcat_btn" type="button" subcategory="<%= subcat.id %>" value="<%= subcat.name %>">
		<%end %>
	</div>

	<div class="open_fl_button" style="text-align:right; width:800px;padding:0 0 5 0;margin:-20 0 0 0">
		<input class="open_fl" fl="all" type="button" value="전체" style="font-size: 13px;" !importent>
		<input class="open_fl" fl="true" type="button" value="공개" style="font-size: 13px;">
		<input class="open_fl" fl="false" type="button" value="비공개" style="font-size: 13px;">
	</div>
	
	<% form_tag :action => :deleteSelection, :method => 'post' do %>			
	<input type="hidden" id="all_checked" value="false">

	<table class="board_table">
	    <thead class="board_thead">
	        <tr>
	            <th class="board_thead" width="60px">번호 </th>
	            <td class="board_thead" width="100px"><center>썸네일</center></td>
				<td class="board_thead" width="80px"><center>제목</center></td>
	            <td class="board_thead" width="180px"><center>카테고리</center></td>
	            <td class="board_thead" width="100px"><center>공개여부</center></td>
				<td class="board_thead" width="30px"><center class="check_all" style="cursor:hand;">선택</center></td>
	        </tr>
	    </thead>
	 
	    <tbody class="board_tbody">
			<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
					@temp_page = 0
				else
					@temp_page = params[:page].to_i - 1
				end
				@page_num = @total_count - (12 * @temp_page) %>
				
			<% 	@sharedimages.each do |sharedimage| 
			   		
			%>
	        <tr class="table_b","board_tbody">
	            <th class="board_tbody" width="60px"><%= @page_num %></th>
	            <td class="board_tbody" width="1px">
					<center>
					<a href="/admin/sharedimages/<%= sharedimage.id.to_s%>?search=<%=params[:search]%>&page=<%=params[:page]%>"><%=image_tag sharedimage.thumb_url %></a>
					</center>
				</td>
				<td class="board_tbody" width="80px"><center><span class="subject" id="subject_<%= sharedimage.id %>" style="cursor:pointer;"><%= sharedimage.name %></span></center></td>
				<td class="board_tbody" width="180px"><center>
					<%
						category_name = (Category.get(sharedimage.category) != nil) ? Category.get(sharedimage.category).name : ""
						subcategory_name = Subcategory.get(sharedimage.subcategory) != nil ? Subcategory.get(sharedimage.subcategory).name : ""
						category_str = category_name + " / " + subcategory_name
					%>
					<%= category_str if category_str != " / " %>
					</center>
				</td>
				<% 
					if sharedimage.open_fl == true 
						shared_status = "공개" 
				   	else
						shared_status = "비공개" 
					end
					
				%>
	            <td class="board_tbody" width="100px"><center><input style="cursor:pointer;" type="button" class="change_btn" id="change_<%= sharedimage.id %>" value="<%= shared_status %>"></center></td>
				<td class="board_tbody" width="30px"><center><input type="checkbox" class="chk_box" name="chk[<%= sharedimage.id %>]"></center></td>
	        </tr>
	        <% @page_num -= 1
			end %>
	        
	    </tbody>
	</table>
	   

	<div id="line_bottom1"></div>
	<br>

		<!-- dm-pager Pagination -->
		<table width="800" >
			<tr>
				<td width="230">&nbsp;</td>
				<td width="350" style="align:center">
					<div class="pager">
						<%= @sharedimages.pager.to_html "/admin/sharedimages?search=#{params[:search]}" %>
					</div>
				</td>
				<td width="150" align="right">
					<% if @total_count > 0 %>
						<%= image_submit_tag('/images/board/delete.jpg', { :onclick => 'return confirm(\'정말 삭제하시겠습니까?\');' }) %>
					<% end %>
						<img src="/images/admin/upload.jpg" style="cursor:pointer;" onClick="location.href='/admin/sharedimages/new'">
				</td>
			</tr>
			<% end %>
			<tr height="10">
				<td align="center" colspan="3">
					<% if @total_count > 0 %>
						<% form_tag request.path + "?page=#{params[:page]}", :method => 'get' do %>								
					    <%= text_field_tag :search, params[:search] %><%= image_submit_tag("/images/board/search.jpg", :align => "absmiddle") %>	
						<% end %>
					<% end %>
				</td>
			</tr>
					
		</table>
		

<script language="Javascript">

$('.change_btn').live("mouseover", function(){
	$(this).attr("origin_value",$(this).val());
	if($(this).val() == "공개"){
		$(this).attr("value","비공개로 변경");
	}else{
		$(this).attr("value","공개로 변경");
	}
	$(this).css("color", "blue");
	
})

$('.change_btn').live("mouseout", function(){
	$(this).attr("value",$(this).attr("origin_value"));	
	$(this).css("color", "black");
})

$('.subject_input').live("keydown", function(event){
	if(event.keyCode == 13){
		$('.subject_input').blur();
		return false;
	}
})

$('.change_btn').live("click", function(){
	var $id = $(this).attr("id").replace("change_","");
	
	$.ajax({
		data:'id='+ $id, 
		dataType:'script', 
		type:'post', 
		url:'/admin/sharedimages/change_open_status',
		success: function(request){
			if(request == "success"){
				if($('#change_'+$id).attr("origin_value") == "공개"){
					$('#change_'+$id).fadeOut("slow", function(){
						$(this).attr("origin_value","비공개");
						$(this).attr("value","비공개");
					}).fadeIn("slow");
					
				}else{
					$('#change_'+$id).fadeOut("slow", function(){
						$(this).attr("origin_value","공개");
						$(this).attr("value","공개");
					}).fadeIn("slow");
				}
			}else{
				alert("상태변경에 실패했습니다!\n관리자에게 문의하여 주십시오!");
			}
			
		}
	});
})
$('.subject_input').live("blur", function(){
	var $id = $(this).attr("id").replace("input_","");
	var $str = $(this).val();
	
	$.ajax({
		data:'id='+ $id + '&str=' + $str, 
		dataType:'script', 
		type:'post', 
		url:'/admin/sharedimages/change_subject',
		success: function(request){
			if(request == "success"){
				$('#subject_'+$id).text($str);
				$('#subject_'+$id).attr("class","subject");
			}else{
				alert("실패!");
			}
		}
	});
})

$('.subject').live("click", function(){
	var $id = $(this).attr("id").replace("subject_","");
	$(this).html("<input type='text' class='subject_input' id='"+"input_" + $id +"' value='"+$(this).text()+"'>");
	
	$(this).attr("class","subject_edit");
	$('#input_'+$id).focus();
})

$('.open_fl').click(function() {
	location.href = "/admin/sharedimages?cat=<%=params[:cat]%>&subcat=<%=params[:subcat]%>&open_fl="+$(this).attr("fl");
});

</script>
