<link href="/css/paginate.css" media="screen" rel="stylesheet" type="text/css" />

<%
	if params[:userid] != nil and params[:userid] != ""
		userid = params[:userid]
		user = User.get(userid.to_i)
	end
 %>
<div id="feature_wrapper">
		<p1>사용들자들이 선택한 템플릿 관리 페이지 입니다.</p1><br>
		<%if params[:userid] != nil and params[:userid] != "" %>
			<p2><%= user.userid + "("+user.name+") 고객님의 템플릿입니다." if user.name != nil%><p2>
		<%end %>
		<% if ! flash[:notice].nil? %>
			<br>
			<span class="error_message_small"><%= flash[:notice].to_s %></span>
		<% end %>		
<br><br>

	</div>
	
	<% form_tag :action => :deleteSelection, :method => 'post' do %>			
	<%
	if params[:userid] != nil and params[:userid] != ""
		count_normal = Mytemplate.all(:user_id => params[:userid], :in_order => false, :feedback_code => 6).count
		count_ing = Mytemplate.all(:user_id => params[:userid], :in_order => false, :feedback_code => 0).count
		count_done = Mytemplate.all(:user_id => params[:userid], :in_order => false, :feedback_code => 1).count
		count_file_error = Mytemplate.all(:user_id => params[:userid], :in_order => false, :feedback_code => 2).count
		count_delay = Mytemplate.all(:user_id => params[:userid], :in_order => false, :feedback_code => 3).count
	else
		count_normal = Mytemplate.all(:in_order => false, :feedback_code => 6).count
		count_ing = Mytemplate.all(:in_order => false, :feedback_code => 0).count
		count_done = Mytemplate.all(:in_order => false, :feedback_code => 1).count
		count_file_error = Mytemplate.all(:in_order => false, :feedback_code => 2).count
		count_delay = Mytemplate.all(:in_order => false, :feedback_code => 3).count
	end
	%>
	<div style="width:800px; padding: 5px 0 5px 0;position:relative">
		총 <%= @total_count.to_s %>건 (작업요청(처리중): <%= count_ing %>건 / 처리완료: <%= count_done %>건 / 파일오류: <%= count_file_error %>건 / 보류: <%= count_delay %>건 / 일반: <%= count_normal %>건)
		<span style="margin: 0;position:absolute;display:block;right:0;width:400px;text-align:right;top:0";>
			<select id="sel_jobcode" onChange="javascript:goPage();">
				<option value="all">전체</option>
				<%
				jcodes = Basicinfo.all(:category => "job_request") 
				jcodes.each do |jc|
				%>
				<option value="<%= jc.code %>" <%= "selected" if jc.code == params[:jc].to_i %>><%= jc.name %></option>
				<%
				end
				%>
			</select>
			<select id="sel_feedback" onChange="javascript:goPage();">
				<option value="all">전체</option>
				<%
				fcodes = Basicinfo.all(:category => "job_process") 
				fcodes.each do |fc|
				%>
				<option value="<%= fc.code %>" <%= "selected" if fc.code == params[:fc] %>><%= fc.name %></option>
				<%
				end
				%>
			</select>
		</span>
	</div>
	<table class="board_table">
		<input type="hidden" id="all_checked" value="false">
	    <thead class="board_thead">
	        <tr>
	            <th class="board_thead" width="40px"><center>번호</center></th>
				<th class="board_thead" width="60px"><center>구분</center></th>
				<th class="board_thead" width="60px"><center>상태</center></th>
	            <td class="board_thead" width="120px"><center>썸네일</center></td>
	            <td class="board_thead" width="120px"><center>카테고리/서브카테고리</center></td>
	            <td class="board_thead" width="65px"><center>등록일</center></td>	
				<td class="board_thead" width="60px"><center>소유자</center></td>
				<td class="board_thead" width="30px"><center class="check_all" style="cursor:hand;">선택</center></td>				
	        </tr>
	    </thead>
	 
	    <tbody class="board_tbody">
			<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
					@temp_page = 0
				else
					@temp_page = params[:page].to_i - 1
				end
				
				@page_num = @total_count - (12 * @temp_page)
			%>
				

			<% @mytemplates.each do |mytemplate| %>

			<% temp_image_path = mytemplate.thumb_url  if mytemplate.thumb_url%>			
			
	        <tr class="table_b","board_tbody">
	            <th class="board_tbody" /><%= @page_num %></th>
				<th class="board_tbody" /><%= Basicinfo.first(:category=>"job_request", :code=>mytemplate.job_code).name %></th>
				<th class="board_tbody" />
					<%
					if mytemplate.job_code == 1
						job_status = "<br>("+Basicinfo.first(:category => "job_status", :code => mytemplate.job_status).name+")"
					else
						job_status = ""
					end  
					%>
					<%= Basicinfo.first(:category => "job_process", :code => mytemplate.feedback_code).name + job_status%>
				</th>
	            <td class="board_tbody"/>
					<%if mytemplate.job_code < 2 %>
					<center><a href="/admin/mytemplates/<%= mytemplate.id.to_s %>?search=<%= params[:search] %>&userid=<%= params[:userid] %>&page=<%= params[:page] %>"><%= "<img src='" + temp_image_path + "'>" if mytemplate.thumb_url %></a></center>
					<%else  %>
					<center><a href="/admin/mytemplates/<%= mytemplate.id.to_s %>?search=<%= params[:search] %>&userid=<%= params[:userid] %>&page=<%= params[:page] %>">
						<% puts_message mytemplate.job_code.to_s %>
						<%= (mytemplate.job_code == 2)? "파일접수":"디자인의뢰" %> 상세보기
						</a>
					</center>
					<%end %>
				</td>
				<td class="board_tbody" />
					<center>
						<% 
						if mytemplate.category != nil and mytemplate.subcategory != nil
							if Category.get(mytemplate.category) != nil and Subcategory.get(mytemplate.subcategory) != nil
								category_str = Category.get(mytemplate.category).name + "<br>" + Subcategory.get(mytemplate.subcategory).name
							else
								category_str = ""
							end
						elsif mytemplate.category != nil and mytemplate.subcategory == nil
							if Category.get(mytemplate.category) != nil
								category_str = Category.get(mytemplate.category).name
							else
								category_str = ""
							end
						else
							category_str = ""
						end
						%>
						<%if mytemplate.job_code < 2 %>
							<%= mytemplate.name + "<br>" if mytemplate.name != nil %>
							<%= category_str %>
						<%end %>
					</center></td>
	            <td class="board_tbody" /><center><%= mytemplate.created_at.strftime('%Y-%m-%d') %></center></td>
	            <td class="board_tbody" /><center><%= User.get(mytemplate.user_id).userid %><br>(<%= User.get(mytemplate.user_id).name %>)</center></td>
				<td class="board_tbody" /><center><input class="chk_box" type="checkbox" name="chk[<%= mytemplate.id %>]"></center></td>
	        </tr>
	        <% @page_num -= 1
			end %>
	        
	    </tbody>
	</table>
	   

	<div id="line_bottom1"></div>
	<br>

		<!-- dm-pager Pagination -->
		<table width="800" >
			<tr>
				<td width="230">&nbsp;</td>
				<td width="350" style="align:center">
					<div class="pager">
						
							<%= @mytemplates.pager.to_html("/admin/mytemplates?userid=#{params[:userid]}&search=#{params[:search]}")  %>					
						
					</div>
				</td>
				<td width="150" align="right">
						<%= image_submit_tag('/images/admin/delete.jpg', { :onclick => 'return confirm(\'정말 삭제하시겠습니까?\');' }) %>				
				</td>
			</tr>
			<% end %>
			<tr height="10">
				<td align="center" colspan="3">
						<% form_tag request.path + "?page=#{params[:page]}", :method => 'get' do %>								
					    <%= text_field_tag :search, params[:search] %><%= image_submit_tag("/images/admin/search.jpg", :align => "absmiddle") %>	
						<% end %>
				</td>
			</tr>
					
		</table>
		

<script>
function goPage(){
	$fc = $('#sel_feedback option:selected').val();
	$jc = $('#sel_jobcode option:selected').val();
	window.location.replace("/admin/mytemplates?jc="+$jc+"&fc="+$fc);
}
</script>










