<%
@notices = Notice.all(:limit => 4, :order => [:created_at.desc], :is_notice => false)
@freeboards = Freeboard.all(:limit => 4, :order => [:created_at.desc])
%>
<div id="main-content" class="content-layout">
	<ul id="main-button">
		<li class="applegreen button"><span>차세대 웹편집솔루션을 소개합니다.</span></li>
		<li class="deepgreen button"><span>교회 현수막 디자인 다량 추가!</span></li>
		<li class="deepgray button"><span>시연에 응해주셔서 감사합니다.</span></li>
	</ul>
	<div id="main-image">
		페이지를 불러오는 중입니다. 잠시만 기다려주세요.
		<img class="image" src="/images/main/main-image-1.jpg" />
		<img class="image" src="/images/main/main-image-2.jpg" />
		<img class="image" src="/images/main/main-image-3.jpg" />
	</div>
	<div id="main-notice">
		<h3>공지사항</h3>
		<ul>
			<% @notices.each do |no| %>
			<li style="cursor:pointer" onClick="location.href='/notices/<%= no.id.to_s %>?search=&page='"><%= no.title %><span class="date"><%= no.created_at.strftime('%Y-%m-%d') %></span></li>
			<%end %>
		</ul>
	</div>
	<div id="main-qna">
		<h3>질문과 답변</h3>
		<ul>
			<%@freeboards.each do |fr| %>
			<%
			comm_cnt = Comment.all(:board => "freeboard", :board_id => fr.id).count
			if comm_cnt > 0 
				comm_str = "["+comm_cnt.to_s+"]"
			else
				comm_str = ""
			end
			%>
			<li style="cursor:pointer" onClick="location.href='/freeboards/<%= fr.id.to_s %>?search=&page='"><%= fr.title %>  <%= comm_str %> <span class="date"><%= fr.created_at.strftime('%Y-%m-%d') %></span></li>
			<%end %>
		</ul>
	</div>
	<div id="main-etcmenu">
		<h3>그외 메뉴</h3>
		<ul>
			<li class="guide"><a href="/pages/guide"><img src="/images/main/button-etc-manual-out.png" alt="button-etc-manual" width="160" height="54" /></a></li>
			<li class="faq"><a href="/faqs"><img src="/images/main/button-etc-faq-out.png" alt="button-etc-faq" width="160" height="54" /></a></li>
			<!-- <li class="material"><a href="/pages/material"><img src="/images/main/button-etc-material-out.png" alt="button-etc-material" width="160" height="54" /></a></li>-->
		</ul>
	</div>
</div>
<script type="text/javascript">
	$("#main-button li span").css("top", function() { return 27-(parseInt($(this).height())/2)} )
</script>