<div id="contact-info" class="content-layout">
	<h3>오시는 길</h3>
	<ul class="content-description">
		<li>문의사항이 있으면 연락처로 연락해주세요.</li>
		<li>방문시 길안내가 필요하시면 <%= Admininfo.first(:category => "basic_info", :name => "전화번호").content %>로 연락주시기 바랍니다.</li>
	</ul>
	<div id="googles">
		<div id="googleMap" style="width:578px;height:380px;border:1px solid #ddd"></div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/js/googleMap.js"></script>
		<script type="text/javascript"> initialize('googleMap','서울 중구 충무로2가 49-17 조양빌딩 10층','map-address')</script>		
		<div id="map-address">
			<p><h4><%= Admininfo.first(:category => "basic_info", :name => "회사명").content %></h4></p>
			<p><strong>주소</strong> <%= Admininfo.first(:category => "basic_info", :name => "회사주소").content %></p>
		</div>
	</div>
	<div id="address">
		<h4>회사주소</h4>
		<ul>
			<li><%= Admininfo.first(:category => "basic_info", :name => "회사주소").content %></li>
		</ul>
	</div>
	<div id="contact">
		<h4>연락처</h4>
		<ul>
			<li>전화번호 : <%= Admininfo.first(:category => "basic_info", :name => "전화번호").content %></li>
			<li>팩스번호 : <%= Admininfo.first(:category => "basic_info", :name => "팩스번호").content %></li>
			<li>전자우편 : <%= Admininfo.first(:category => "basic_info", :name => "대표 이메일주소").content %></li>
		</ul>
	</div>
	<div id="business-hour">
		<h4>영업시간</h4>
		<ul>
			<li><%= Admininfo.first(:category => "basic_info", :name => "업무시간").content %></li>
		</ul>
	</div>
</div>