		<div id="submenu">
<% if @menu == "company" %>
			<h3>회사소개</h3>
			<ul>
				<li><a class="<%=(@section == "about")?"title-on":"title"%>" href="/pages/about">회사소개</a></li>
				<li><a class="<%=(@section == "map")?"title-on":"title"%>" href="/pages/map">연락처/오시는길</a></li>
			</ul>
<% else  %>
			<h3>고객센터</h3>
			<ul>
				<li><a class="<%=(@board == "notice")?"title-on":"title"%>" href="/notices">공지사항</a></li>
				<li><a class="<%=(@board == "freeboard")?"title-on":"title"%>" href="/freeboards">질문과 답변</a></li>
				<li><a class="<%=(@board == "faq")?"title-on":"title"%>" href="/faqs">자주 묻는 질문</a></li>
				<li><a class="<%=(@section == "tos")?"title-on":"title"%>" href="/pages/tos">사이트 이용약관</a></li>
				<li><a class="<%=(@section == "policy")?"title-on":"title"%>" href="/pages/policy">개인정보 보호정책</a></li>
				<li><a class="<%=(@section == "sitemap")?"title-on":"title"%>" href="/pages/sitemap">사이트맵</a></li>
			</ul>
<% end %>
		</div>