<% 
	if params[:cate] != nil; cate = params[:cate] else; cate = "" end
	if params[:folder] != nil; folder = params[:folder] else; folder = "" end
	if params[:page] != nil; page = params[:page] else; page = "" end
	if params[:search] != nil; search = params[:search] else; search = "" end

	if cate == nil or cate == "" or cate == "all"
		cate = "all"
		title_text = "전체"
	else
		title_text = Category.get(cate.to_i).name
	end
%>
<div id="designcart" class="content-layout">
	<h3>디자인바구니</h3>
	<ul class="content-description">
		<li>고객님께서 직접 편집한 디자인과 편집의뢰한 디자인이 담기는 공간입니다.</li>
		<li>편집에 있어서 어려운 부분이 있으시면, 관리자에게 도움요청 할 수 있습니다.</li>
		<li> 또한 원하는 소재와 후가공, 갯수를 선택하여 주문과 결제를 할 수 있습니다.</li>
	</ul>
<% if @mytemplates.count > 0 %>
	<table id="designcart-list" cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th class="check" id="chk_all"><span>전체체크</span></th>
				<th class="date">작업일</th>
				<th class="design">디자인 품목</th>
				<th class="piece">수량</th>
				<th class="price">가격</th>
				<th class="option">옵션선택</th>
			</tr>
		</thead>
		<tbody>
			<!-- 디자인 항목 반복 시작 -->
			<%
			@temp = 1 
			@mytemplates.each do |my| 
				if my.subcategory != nil
					category_info = Category.get(my.category.to_i).name + "/" + Subcategory.get(my.subcategory.to_i).name
					sn_num = my.category  + "-" + my.subcategory + "-" + my.id.to_s
				else
					category_info = Category.get(my.category.to_i).name	
					sn_num = my.category  + "-" + my.id.to_s
				end
			%>
			<tr id="<%= my.id.to_s %>" class="item">
				<td class="check"><!-- 편집의뢰의 경우 시안확정을 해야 체크할 수 있음. input태그에  disabled 처리하면 될듯합니다. --><input id="chk_<%= my.id.to_s %>" class="chkbox" type="checkbox"  value="<%= my.id.to_s %>"/></td>
				<td class="date"><a href="/mytemplates/<%= my.id.to_s %>?cate=<%= params[:cate] %>&page=<%= params[:page] %>" class="request code-<%=my.feedback_code%>"><%= Request_code.first(:code => my.feedback_code).name %></a><%= my.updated_at.strftime('%y.%m.%d') %></td>
				<td class="design <%= my.job_code == 0 ? "self-edit":"order-edit"%>"><a href="/mytemplates/<%= my.id.to_s %>?cate=<%= params[:cate] %>&page=<%= params[:page] %>" class="item"><%= category_info%> <span class="design-code"><%= sn_num %></span></a> <div class="other">단가: <%= Temp.get(my.temp_id).price %>원, <%= my.size %></div>
				<div class="action-select">
					<ul>
						<li class="detail"><a href="/mytemplates/<%= my.id.to_s %>?cate=<%= params[:cate] %>&page=<%= params[:page] %>">상세보기</a></li>
						<li class="edit"><a href="#" onClick="popup('<%= my.id.to_s %>');">편집하기</a></li>
						<li class="delete"><a href="#" id="del_<%= my.id.to_s %>">삭제하기</a></li>
					</ul>
				</div></td>
				<td class="piece"><a class="minus">-</a><input id="peice_<%= my.id.to_s %>" name="piece[]" value="1" size="2" class="piece" /><a class="plus">+</a></td>
				<td class="price" id="price_<%= my.id.to_s %>"><%= my.price %></td>
				<input type="hidden" id="tmp_total_price" value="0">
				<input type="hidden" class="unit_price" id="unit_price_<%= my.id.to_s %>" value="<%= my.price %>">
				<input type="hidden" id="price_minus_<%= my.id.to_s %>" value="<%= my.price %>">
				<td class="option">
					<h5><a class="select">옵션을 선택해주세요.</a></h5>
					<!-- jQuery로 숨겨놨다가 레이어로 토글할 생각입니다. 시작 -->
					<div class="option-select">
						<ul>
							<!-- 옵션 반복 시작 -->
							<li>
								<label>소재</label>
								<select name="select_main_<%= my.id.to_s %>" class="basic_select">
									<option value="" selected>선택해주세요.</option>
									<option value="">---------------</option>
									<!-- 옵션내용 반복 시작 -->
									<option value="그래픽천(현수막전용원단)">그래픽천(현수막전용원단)</option>
									<option value="페트(얇은플라스틱제질원단)">페트(얇은플라스틱제질원단)</option>
									<option value="합성지(점착가능원단)">합성지(점착가능원단)</option>
									<option value="PVC켈(점착가능원단)">PVC켈(점착가능원단)</option>
									<option value="부직포(어깨띠전용원단)">부직포(어깨띠전용원단)</option>
									<option value="폰지(디지털날염전용원단)">폰지(디지털날염전용원단)</option>
									
									<!-- 옵션내용 반복 끝 -->
								</select>
							</li>
							<li class="no-line">
								<label>후가공</label>
								<select name="select_sub_<%= my.id.to_s %>">
									<option value="" selected>선택해주세요.</option>
									<option value="">---------------</option>
									<!-- 옵션내용 반복 시작 -->
									<option value="열재단">열재단</option>
									<option value="사구아일렛">사구아일렛</option>
									<option value="막대가공">막대가공</option>
									<option value="봉미싱">봉미싱</option>
									<option value="끈고리">끈고리</option>
									<option value="사방줄미싱">사방줄미싱</option>
									<option value="큐방">큐방</option>
									<option value="기타">기타</option>
									<!-- 옵션내용 반복 끝 -->
								</select>
							</li>
							<!-- <li class="no-line"><a href="#" class="material">소재, 후가공 자세히 알아보기</a></li>-->
							<li class="no-line"><input type="button" value="옵션 선택 저장" class="submit-button"/></li>
							<!-- 옵션 반복 끝 -->
						</ul>
					</div>
					<!-- jQuery로 숨겨놨다가 레이어로 토글할 생각입니다. 끝-->
				</td>
			</tr>
			<% end %>
			<!-- 디자인 항목 반복 끝 -->
		</tbody>
		
	</table>
	<div class="caption">주문할 항목과 옵션을 선택해주세요. <a href="#" class="delete">선택한 항목 삭제</a></div>
	<div id="select_delivery">
		<h4>배송비용</h4>
		<p>
			<label for="receive-type">배송방법</label>
			<select name="### 배송방법셀렉박스이름 ###" id="receive-type1">
				<option value="" selected>선택해주세요.</option>
				<option value="">-----------------</option>
				<% 
				@delivery = Basicinfo.all(:category => "delivery", :order => [:order])
				@delivery.each do |d|	
				%>
				<option value="<%= d.code %>" price="<%= d.price %>"><%= d.name %></option>
				<%
				end
				%>
			</select>
		</p>
		<p class="price" id="delivery_price">0원</p>
	</div>
	<div id="total-price">
		<h4>총 주문 금액</h4>
		<!-- jQuery로 처리할 예정입니다. -->
		<p class="price" id="total_price">0원</p>
		<input id="order" type="button" value="선택한 항목 주문하기" class="submit-button">
	</div>
<% else %>
	<div id="error-screen"><img src="/images/error/error-empty-cart.jpg" alt="바구니에 담겨진 디자인이 없습니다." width="580" height="400" /></div>
<% end %>
</div>
<script language="javascript">
var total_price = 0;
var prevOption;


function popup(doc_name) {
       // var url = '/mlayout?doc_name='+doc_name;
	   var url = "/MClientBox/index.html?spread_list=NO&user_path=/user_files/<%= current_user.userid %>&doc_path=/article_templates/"+ doc_name+".mlayoutP"
	   width = screen.width;
	   height = screen.height;
      window.open(url ,'webtop_print','width='+width+', height='+height);
}

$('.piece').change(function(event) {
	id_temp = $(event.target).attr("id").split("_");
	id = id_temp[1];

	$chkbox = $('#chk_'+id);
	if($chkbox.attr("checked") == false){
		if( parseInt($('#peice_'+id).val()) < 1 ){
			$('#peice_'+id).val("1");
		}
		current_unit = $('#peice_'+id).val();
		unit_price = $('#unit_price_'+id).val();
		tmp_total_price = parseInt(current_unit) * parseInt(unit_price);
		$(event.target).parents("tr").find("td.price").html(tmp_total_price);
	}else{
		alert("품목이 선택되어진 상태에서는 수량을 변동할 수 없습니다! \n체크박스의 체크를 해제하시고 시도해주세요!");
		return false;
	}
});

$('.chkbox').live("click", function(event){
	id = $(this).val();
	var price = parseInt($(event.target).parents("tr").find("td.price").html());
 	tmp_total_price = parseInt($('#total_price').text().replace("원","").replace(",",""));
	
	if($(this).attr("checked") == true){
		tmp_total_price += price;
		$('#peice_'+id).attr("disabled", true);
	}else{
		tmp_total_price -= price;
		$('#peice_'+id).attr("disabled", false);
	}

	$('#tmp_total_price').val(tmp_total_price);
	$('#total_price').html(to_comma(tmp_total_price) + "원");
	
});
$('#address-search').live("keydown", function(event){
	if(event.keyCode == 13){
		$('#zip_search').click();
		return false;
	}	
})
$('#zip_search').live("click", function(){
	if ($('#address-search').val() == ""){
		alert("검색어를 입력해주세요!");
	}else{
		$.ajax({
			data:'dong='+ $('#address-search').val(), 
			dataType:'script', 
			type:'post', 
			url:'/address/search_ajax',
			success: function(request){
				$("#search-address-form").fadeOut("fast");
				$('#addr_result').html(request).change(function(){
					// $('#zip_code').val()
					var temp_zip = $('#address-selector option:selected').val()
					var zip_code = temp_zip.substr(0,3) + "-" + temp_zip.substr(3,3)
					$('#zip_code').val(zip_code);
				});
			}
		});
		$('#address-search').val("검색중입니다.");
	}
});

$('#order').click(function(){
	var temp_array = jQuery.makeArray($('.chkbox:checked'));

	var order_ids = "";
	jQuery.each(temp_array, function(){
		order_ids += $(this).val() + ",";
	});

	if (order_ids == ""){
		alert("주문할 항목을 선택해주세요!");
	}else{
		popupView(696,390,"/mytemplates/mytemplate_order", { total_price: $('#total_price').text().replace(",",""), ids: order_ids}, function(){
			$type_val = $('#receive-type1 option:selected').val();
			if($type_val != ""){
				$('#receive-type2 option').each(function(){
					if($(this).val() == $type_val){
						$(this).attr("selected", true);
					}
				});
			}
		} );
	}

});

function to_comma(price){
	char_price = price;
	// 콤마찍기
	var reg = /(^[+-]?\d+)(\d{3})/;   // 정규식
	char_price += '';                // 숫자를 문자열로 변환

	while (reg.test(char_price))
	char_price = char_price.replace(reg, '$1' + ',' + '$2');
	
	return char_price;
}

$('#receive-type1').live("change",function(){
	if($('#receive-type1 option:selected').val() != ""){
		delivery_price = parseInt($('#receive-type1 option:selected').attr("price"));
	}else{
		delivery_price = 0;
	}
	$('#delivery_price').html(to_comma(delivery_price) + "원");
	current_total_price = parseInt($('#tmp_total_price').val());
	$('#total_price').html(to_comma(current_total_price + delivery_price) + "원");

});

$('#receive-type2').live("change",function(){
	$type_val = $('#receive-type2 option:selected').val();
	$('#receive-type1 option').each(function(){
		if($(this).val() == $type_val){
			$(this).attr("selected", true);
		}
	});
});

// 최종 주문하기 버튼 클릭시 프로세스 ==========================================
$('#order_basic').live("click", function(){
	var temp_array = jQuery.makeArray($('.chkbox:checked'));
	var order_item = "";
	var item_unit = "";
	jQuery.each(temp_array, function(){
		order_item += $(this).val() + ",";
		item_unit += $('#peice_'+order_item).val() + ",";
	})
	
	if (order_item == ""){
		alert("주문할 항목을 선택해주세요!");
	}else{
		if ($('#receive-type1 option:selected').val() == ""){
			alert('배송방법을 선택해주세요!');
			return false;
		}else{
			loadingView();
			$.ajax({
				data:'item_unit='+item_unit+'&pay_m='+$('input:radio:checked').val()+'&total_price='+$('#order_total_price').val()+'&receive-note='+$('#receive-note').val()+'&address2='+$('#address2').val()+'&address1='+$('#address-selector option:selected').text()+'&zip_code='+$('#zip_code').val()+'&receive_mobile='+$('#receive-mobile').val()+'&receive_tel='+$('#receive-tel').val()+'&receive_name='+$('#receive-name').val()+'&receive_type='+$('#receive-type1 option:selected').val()+'&ids='+ order_item, 
				dataType:'script', 
				type:'post', 
				url:'/mytemplates/create_order',
				success: function(request){
					loadingView();
					if(request != "주문에러!"){
						alert("주문번호: "+request+" \n주문절차가 정상적으로 처리되었습니다!");	
						$('#popup-closeButton').click();
						$('.chkbox:checked').parents("tr").remove();
						
					}else{
						alert("주문진행시 문제가 발생하였습니다! 관리자에게 문의하여 주시기 바랍니다.");	
					}
				}
			});
		}
	}
});

$('#chk_all').click(function(){
	$('.chkbox').click();
});

$('.delete').click(function(){
	if (event.target.id == ""){
		var temp_array = jQuery.makeArray($('.chkbox:checked'));
		var del_ids = "";
		jQuery.each(temp_array, function(){
			del_ids += $(this).val() + ",";
		})
		
		if (del_ids == ""){
			alert("삭제할 항목을 선택해주세요!");
		}else{
			if (window.confirm("정말 삭제하시겠습니까?")){
				loadingView();
				$.ajax({
					data:'ids='+ del_ids, 
					dataType:'script', 
					type:'post', 
					url:'/mytemplates/destroy_selection',
					success: function(request){
						jQuery.each(temp_array, function(){
							$('#'+$(this).val()).remove();
						})
						loadingView();
					}
				});	
			}
			
		}

			
	}else{
		var temp_id = event.target.id.split("_");
		var id = temp_id[1];
		if (window.confirm("정말 삭제하시겠습니까?")){
			loadingView();
			$.ajax({
				data:'id='+ id, 
				dataType:'script', 
				type:'post', 
				url:'/mytemplates/destroy',
				success: function(request){
					$('#'+id).remove();
					loadingView();

				}
			});	
		};	
	}
	
});

// 품목별 수량 증가 감소 by fooleaf
$("a.minus")
	.live("click",
	function() {
		$id = $(this).parents("tr").attr("id");
		$chkbox = $('#chk_'+$id);
		if($chkbox.attr("checked") == false){
			now = parseInt($(this).parents("tr").find("input.piece").val());
			if(now <= 1){
				$(this).parents("tr").find("input.piece").val(1);
			}
			else{
				$(this).parents("tr").find("input.piece").val(now-1);
			}

			current_unit = $(this).parents("tr").find("input.piece").val();
			unit_price = $('#unit_price_'+$id).val()
			total_price = parseInt(current_unit) * parseInt(unit_price);
			$(this).parents("tr").find("td.price").html(total_price);
		}else{
			alert("품목이 선택되어진 상태에서는 수량을 변동할 수 없습니다! \n체크박스의 체크를 해제하시고 시도해주세요!")
		}
			
	}
);

$("a.plus")
	.live("click",
	function() {
		$id = $(this).parents("tr").attr("id");
		$chkbox = $('#chk_'+$id);
		if($chkbox.attr("checked") == false){
			now = parseInt($(this).parents("tr").find("input.piece").val());
			$(this).parents("tr").find("input.piece").val(now+1);
			current_unit = $(this).parents("tr").find("input.piece").val();
			unit_price = $('#unit_price_'+$id).val()
			total_price = parseInt(current_unit) * parseInt(unit_price);
			$(this).parents("tr").find("td.price").html(total_price);
		}else{
			alert("품목이 선택되어진 상태에서는 수량을 변동할 수 없습니다! \n체크박스의 체크를 해제하시고 시도해주세요!");
		}
	}
);


// 디자인바구니 액션 by fooleaf
$("#designcart-list a.item")
	.live("click",
	function (){
		$(this).parents("td.design").find(".action-select ul").slideDown("fast");
		return false;
	}
);

$(".action-select ul")
	.mouseleave(
	function() {
		$(this).slideUp("fast");
	}
);

$("#designcart-list td")
	.hover(
	function (){
		$(this).parents("tr").find("td.design").css("background-color","#eee");
		$(this).parent().css("background-color","#eee");
	},
	function (){
		$(this).parents("tr").find("td.design").css("background-color","#fff");
		$(this).parent().css("background-color","#fff");
		$(".action-select ul",$(this)).slideUp("fast");
	}
);

// 디자인 바구니 옵션 관련 액션 by fooleaf
$("#designcart-list td.option h5")
	.live("click",
	function (){
		if($(this).parents("td.option").find(".option-select ul").css("display") == "none") {
			if(prevOption != null)
				prevOption.slideUp("fast");
			$(this).parents("td.option").find(".option-select ul").slideDown("fast")
			prevOption = $(this).parents("td.option").find(".option-select ul");
		}
		else {
			$(this).parents("td.option").find(".option-select ul").slideUp("fast");
			prevOption = null;
		}
	}
);
$(".option-select ul")
	.mouseleave(
	function() {
		/*$(this).fadeOut("fast")*/
	}
);
$(".option-select").delegate("select","change",function() { if($(this).parents("ul").find("select:eq(0)").val() == "" || $(this).parents("ul").find("select:eq(1)").val() == "") { $(this).parents("td.option").find("h5").html("<a class=\"select\">옵션을 선택해주세요.</a>")} else { $(this).parents("td.option").find("h5").html("<a class=\"selected\">옵션 선택 완료.</a>")}});
$(".option-select .submit-button").live("click",function() { $(this).parents("ul").slideUp("fast"); prevOption = null;});

</script>