<div id="orderform">
	<h3>주문서 작성 / 결제</h3>
	<p>결제 금액을 확인하고 배송정보 및 결제방법을 선택합니다.</p>
	<!-- 선결제 있을경우에만 표시 -->
	<div id="delivery-section">
		<div id="delivery-select">
			<label for="receive-type">배송방법 선택</label>
			<select name="receive_type" id="receive-type2">
				<option value="" selected>선택해주세요.</option>
				<option value="">-----------------</option>
				<% 
				@delivery = Basicinfo.all(:category => "delivery", :order => [:order])
				@delivery.each do |d|	
				%>
				<option value="<%= d.code %>" price="<%= d.price %>"><%= d.name %></option>
				<%
				end
				%>
			</select>
		</div>
		<fieldset id="delivery-receiver">
			<h4>수령자 정보</h4>
			<p class="name">
				<label for="receive-name">성함</label>
				<input value="<%= current_user.name %>" name="receive_name" id="receive-name" placeholder="수령인 성함" type="text"/>
			</p>
			<p class="phone">
				<label for="receive-phone">일반전화</label>
				<input value="<%= current_user.tel %>" name="receive_tel" id="receive-tel" placeholder="010-5964-3645" maxlength="13" size="16" type="text"/>
			</p>
			<p class="mobile">
				<label for="receive-phone">모바일</label>
				<input value="<%= current_user.mobile %>" name="receive_mobile" id="receive-mobile" placeholder="010-5964-3645" maxlength="13" size="16" type="text"/>
			</p>
		</fieldset>
		<fieldset id="delivery-address">
			<h4>배송주소</h4>
			<div id="search-address-form"><h5>주소검색</h5><input id="address-search" placeholder="동/면/읍" maxlength="10" size="14" type="text"/> <input id="zip_search" type="button" value="검색" class="submit-button"/> <p>주소의 동/면/읍을 입력하고 검색버튼을 눌러주세요.</p></div>
			<ul id="address-block">
				<li><label for="zipcode">우편번호</label> <input id="zip_code" name="zip_code"  placeholder="000-000" maxlength="10" size="8" type="text"/></li>
				<li id="addr_result"><label for="address-selector">주소선택</label>
					<select id="address-selector" name="address1">
						<option value="" selected>먼저 검색을 해주세요.</option>
					</select>
				</li>
				<li><label for="address2">나머지 주소</label><input name="address2" id="address2" placeholder="나머지 주소" maxlength="50" size="36" type="text"/></li>
			</ul>
			<p class="delivery-request"><label for="receive-note">배송 요청사항</label><input name="receive-note" id="receive-note" placeholder="배송시 요청사항을 짧게 입력해주세요." maxlength="30" size="35" type="text"></p>
		</fieldset>
	</div>
	<div id="payment-section">
		<div id="order-price">
			<h4>결제 금액</h4>
			<ul>
				<li class="total"><strong>총 주문금액</strong> <span id="order_total_price" class="price"><%= @total_price %>원</span></li>
				<input type="hidden" id="order_total_price" name="order_total_price" value="<%= @total_price %>">
				<li class="first"><strong>선결제금액</strong> <span class="price"><%= @pre_price %>원</span></li>
				<li class="more"><strong>남은 결제금액</strong> <span id="left_order_total_price" class="price"><%= @total_price - @pre_price %>원</span></li>
			</ul>
		</div>
		<fieldset id="select-payment">
			<h4>결제방법 선택</h4>
			<ul>
				<% pms = Basicinfo.all(:category => "pay_method", :order => [:order]) %>
				<% pms.each do |p| %>
					<li class="user"><input type="radio" name="pay_m" id="user" value="<%= p.code %>" <%= "checked" if p.is_default == true %> <%= "disabled" if p.disable == true %>/> <label for="user"><%= p.name %></label></li>
				<%end %>
				<!-- <li class="realtime"><input disabled type="radio" name="pay_m" id="payment-realtime" value="계좌이체"/> <label for="payment-realtime">실시간 계좌이체</label>	</li>
				<li class="credit"><input disabled type="radio" name="pay_m" id="payment-credit" value="카드결제"/> <label for="payment-credit">신용카드</label></li>
				<li class="mobile"><input disabled type="radio" name="pay_m" id="payment-mobile" value="휴대폰결제"/> <label for="payment-mobile">휴대폰</label></li> -->
			</ul>
		</fieldset>
		<input id="order_basic" type="submit" class="submit-button" value="주문하기"/>
	</div>
	<div id="PGIOscreen"></div>
</div>