<%
temp_total_price = to_comma(@total_price)

my = @mytemplate

rcategory = Category.get(my.category).rcategory

if my.subcategory != nil
	category_info = Category.get(my.category.to_i).name + "/" + Subcategory.get(my.subcategory.to_i).name
	sn_num = my.category  + "-" + my.subcategory + "-" + my.id.to_s
else
	category_info = Category.get(my.category.to_i).name	
	sn_num = my.category  + "-" + my.id.to_s
end
%>

<div id="designcart-detail" class="content-layout">
	<h3>디자인바구니 <span><%if my.job_code == 0%>직접편집<%elsif my.job_code == 1%>편집의뢰<%else%>직접의뢰<%end %>
		              - <%= category_info %> (<%= sn_num %>)</span></h3>
	<ul class="content-description">
		<li>편집한 다지안 품목의 내용을 자세히 확인하는 페이지입니다.</li>
		<li>편집에 어려움이 있는 경우 관리자에게 도움을 요청할 수 있습니다.</li>
	</ul>
	<!-- 미리보기의 가로가 길면 horizon, 세로가 길면 vertical -->
	<input type="hidden" id="tmp_total_price" value="0">
	<input type="hidden" class="unit_price" id="unit_price_<%= my.id.to_s %>" value="<%= my.price %>">
	<%if my.job_code < 2 %>
		<div id="item-information" class="<%= (my.is_col == true)? "vertical":"horizon" %>">
	<%else %>
		<div id="item-information" class="horizon">
	<%end %>
		<h4>미리보기</h4>
		<div id="ie-overflow-fix">
			<div id="preview-wrap">
				<% if my.job_code < 2 %>
				<img id="preview" src="<%= my.preview_url + "?" + Time.now.to_f.to_s %>">
				<%else 
					admin_bbs = Jobboard.first(:mytemp_id => my.id, :order => [:created_at.desc], :admin => true, :req_file.not => nil)
					
				%>
					<%if admin_bbs != nil 
						if admin_bbs.req_file != nil
							file_path = "#{HOSTING_URL}user_files/#{current_user.userid}/req_files/" + admin_bbs.req_file
							%>
							<img id="preview" src="<%= file_path %>">
							<%
						end
						%>
						
					<%else %>
						<img id="preview" src="/images/content/file_order_preview.png">
					<%end %>
				
				<%end %>
			</div>
		</div>
		<div class="item-detail-wrap">
			<h4>상세내용</h4>
			<ul class="item-detail">
				<li class="type"><strong class="title">구분</strong><%=(my.job_code == 0)? "직접편집":"편집의뢰" %></li>
				<li class="item"><strong class="title">품목</strong><%= Category.get(my.category.to_i).name %></li>
				<li class="item"><strong class="title">상세품목</strong><%= Subcategory.get(my.subcategory.to_i).name if my.subcategory != nil and my.subcategory != "" %></li>
				<li class="designcode"><strong class="title">디자인번호</strong><%= sn_num %></li>
				<li class="size"><strong class="title"><%=(my.job_code == 0)? "사이즈":"최초 요청사이즈" %></strong><%=(my.job_code == 0)? (my.size):(my.size_x+"cm x "+my.size_y+"cm") %></li>
				<li class="date"><strong class="title">최종수정일</strong><%= my.updated_at.strftime('%Y-%m-%d') %></li>
				<li class="price" id="item_price"><strong class="title">금액</strong> <%= temp_total_price %>원</li>
			</ul>
			<fieldset class="option-select_detail">
				<h5>옵션 선택</h5>
				<ul>
					<!-- 옵션 반복 시작 -->
					<li>
						<label>수량</label>
						<div class="piece-wrap"><a class="minus">-</a><input id="piece_<%= my.id.to_s %>" name="piece[]" value="<%= my.quantity %>" size="2" class="piece" /><a class="plus">+</a></div>
					</li>
					<%
					i = 0 
					if my.option != nil
						myopt_array = my.option.split(",") 
					else
						myopt_array = "$$$$$"
					end
					%>
					<%Option.all(:order => [:priority]).each do |opt| %>
					<li>
						<label><%= opt.name %></label>
						<select class="opt" id="select_<%= opt.id %>">
							<option value="" selected>선택해주세요.</option>
							<option value="">------------------</option>
							<%Optionsub.all(:category_name => rcategory, :option_id => opt.id).each do |optsub| %>
								<option value="<%= optsub.id %>" <%= "selected" if optsub.id.to_i == myopt_array[i].to_i %>><%= optsub.name %></option>
							<%
							end %>
						</select>
					</li>
					
					<%
						i += 1
					end %>				
					<!-- 옵션 반복 끝 -->
				</ul>
			</fieldset>
		</div>
		<div class="actions">
			<h4>이 품목을..</h4>
			<ul>
				<!-- 작업구분이 편집의뢰일때만 -->
				<% if my.job_code == 1 %>
					<% if my.job_status == Basicinfo.first(:category => "job_status", :name => "시안미확정").code %>
						<li class="accept" id="design_confirm_section"><a id="design_confirm" href="">시안확정</a></li>
					<% elsif  my.job_status == Basicinfo.first(:category => "job_status", :name => "시안확정").code %>
						<li class="accept-cancel" id="design_confirm_section"><a id="design_confirm" href="#">시안확정 취소</a></li>
					<% end %>
				<%elsif my.job_code == 2 or my.job_code == 3 %>
				<% else %>
					<li class="edit"><a href="#">편집하기</a></li>
				<% end %>
				<li class="delete"><a href="javascript:del_mytemp('<%= my.id %>');">삭제</a></li>
				<li class="one-order"><a href="#" id="order-button">바로 주문하기</a></li>
				<li class="back-list"><a class="back-list" href="/mytemplates">목록으로 돌아가기</a></li>
				<li class="zoom-scroll"><a href="#" class="reset">크기, 위치 원래대로</a> <div id="zoom-scroll"><span>◈</span></div></li>
				<li class="zoom_message">아래 그림을 클릭하면 크게 볼 수 있습니다.</li>
			</ul>
		</div>
	</div>
	<div id="feedback-list">
	<%
		jbbs = Jobboard.all(:mytemp_id => my.id, :order => [:created_at.desc]) 
	%>	
		<h4>요청사항/처리 목록</h4>
		<div id="request_board">
			<table cellpadding="0" cellspacing="0" border="0">				<thead>
					<tr>
						<th>작성날짜</th>
						<th>구분</th>
						<th>내용</th>
						<th>작성자</th>
						<th>파일</th>
						<th>삭제</th>
					</tr>
				</thead>
				
				<tbody>
					<!-- 요청사항 표시 반복부분 시작 -->
					<% 
						num = jbbs.count
						if jbbs.count > 0
							jbbs.each do |bbs|
								if bbs.req_file != nil
									file_path = "#{HOSTING_URL}user_files/#{current_user.userid}/req_files/" + bbs.req_file
									ext_name = File.extname(bbs.req_file).gsub(".",'')
									req_file = "<a href='#{file_path}' class='#{ext_name}'>#{bbs.original_filename}</a>"
								else
									req_file = ""	
								end
					%>
					<tr>
						<td class="date"><%= bbs.updated_at.strftime('%Y-%m-%d') %></td>
						<td class="type"><%= Request_code.first(:code => bbs.feedback_code).name %></td>
						<td class="memo"><a><%= bbs.content.gsub("\n","<br>") %></a></td>
						<td class="name">
							<%if bbs.admin == false and bbs.user_id == current_user.id %>
								<%= User.get(bbs.user_id).name %>
							<%else%>
								<%= "<img src='/images/admin/admin_icon.png'>" %>
							<%end %>
							
						</td>
						<td class="file"><%= req_file %></td>
						<td class="delete">
							<%if bbs.admin == false and bbs.user_id == current_user.id %>
								<a id="del_<%= bbs.id.to_s %>" href="">삭제</a>
							<%end %>
						</td>
					</tr>
					<%
								num -= 1
					 		end
					 	else
					%>
						<tr>
							<td colspan="6" id="error-screen"><img src="/images/error/error-empty-comment.gif" alt="작성된 요청사항이 없습니다." width="578" height="214" /></td>
						</tr>
					<% end %>
					<!-- 요청사항 표시 반복부분 종료 -->
				</tbody>
			</table>
		</div>
		<% form_tag({:action => ''}, {:multipart => true, :id => "frmFile", :class => "feedback-add"} ) do -%>
			<input type="hidden" name="id" value="<%= my.id.to_s %>">
			<input type="hidden" name="feedback_code" value="" id="feedback_code">
			<fieldset>
				<legend>요청사항 입력</legend>
				<p class="memo">
					<label for="feedback_memo"><strong>요청내용</strong> <span>편집에 어려운 점이 있거나, 궁금한 점이 있으면 아래 공간에 글을 작성해주세요.</span></label>
					<textarea name="feedback_memo" id="feedback_memo" placeholder="내용을 입력해주세요."></textarea>
				</p>
				<p class="file">
					<label for="feedback_file">파일올리기</label>
					<input type="file" name="feedback_file" id="feedback_file" />
				</p>
				<p class="comment_submit"><a href="#" class="request">요청 작성</a> <a href="#" class="normal">일반글 작성</a> <a href="#" class="suspend">보류 신청</a></p>
			</fieldset>
		<%end %>
	</div>
	<a class="back-list" href="/mytemplates">목록으로 돌아가기</a>
</div>

<script language="javascript">
$('.opt').live("change", function(event){
	var $id = <%= my.id %>;
	var $option = "";
	$('.opt').each(function(){
		// alert($(this).find("option:selected").val());
		$option += $(this).find("option:selected").val() + ","
	})
	
	$.ajax({
		data:'option='+$option+'&id='+ $id, 
		dataType:'script', 
		type:'post', 
		url:'/mytemplates/update_option',
		success: function(request){
			$('#item_price').html("<strong class='title'>금액</strong> "+to_comma(request)+"원</li>");
		}
	});
});

function popup(doc_name) {
       // var url = '/mlayout?doc_name='+doc_name;
	   var url = "/MClientBox/index.html?spread_list=NO&user_path=/user_files/<%= current_user.userid %>&doc_path=/article_templates/"+ doc_name+".mlayoutP"
	   width = screen.width;
	   height = screen.height;
      window.open(url ,'webtop_print','width='+width+', height='+height);
}

function del_mytemp(id){
	if (window.confirm("정말 삭제하시겠습니까?")){
		loadingView();
		$.ajax({
			data:'id='+ id, 
			dataType:'script', 
			type:'post', 
			url:'/mytemplates/destroy',
			success: function(request){
				loadingView();
				document.location.replace('/mytemplates');

			}
		});	
	};
}
</script>
<script language="javascript">
// 품목별 수량 증가 감소 by fooleaf
$('tbody tr td.delete').live("click", function(event){
	if($(event.target).attr("id") != ""){
		if (window.confirm("정말 삭제하시겠습니까?") ){
			bbs_id = $(event.target).attr("id").replace("del_","");
			$.ajax({
				data:'bbs_id='+bbs_id, 
				dataType:'script', 
				type:'post', 
				url:'/mytemplates/jobboard_delete',
				success: function(request){
					$('#request_board').html(request);
				}
			});
			return false;
		}else{
			return false;
		}
	}
});

function update_quantity(quan, id){
	$.ajax({
		data:'quantity='+quan+'&id='+id, 
		dataType:'script', 
		type:'post', 
		url:'/mytemplates/update_quantity',
		success: function(request){
			$('#item_price').html("<strong class='title'>금액</strong> "+to_comma(request)+"원</li>");
		}
	});	
}

$('input.piece').live("change", function(){
	if(parseInt($(this).val()) < 0 ){
		$(this).val(1);
	}
	
	update_quantity($(this).val(), <%= my.id %>);
});

$("a.minus")
	.live("click",
	function() {
		now = parseInt($(this).parents("li").find("input.piece").val());
		if(now <= 1){
			$(this).parents("li").find("input.piece").val(1);
		}else{
			$(this).parents("li").find("input.piece").val(now-1);
		}
		
		update_quantity($(this).parents("li").find("input.piece").val(), <%= my.id %>);
	}
);

$("a.plus")
	.live("click",
	function() {
		now = parseInt($(this).parents("li").find("input.piece").val());
		$(this).parents("li").find("input.piece").val(now+1);
		
		update_quantity($(this).parents("li").find("input.piece").val(), <%= my.id %>);
	}
);

// 데모 주문을 위해서 임시적으로 추가
$('#order-button').click(function(){
	$.ajax({
		data:'temp_id=<%= my.id.to_s %>', 
		dataType:'script', 
		type:'post', 
		url:'/mytemplates/total_price_cal',
		success: function(request){
			$('#item_price').html("<strong class='title'>금액</strong> "+to_comma(request)+"원</li>");
			popupView(696,390,"/mytemplates/mytemplate_order", { total_price: $('#item_price').text().replace(",","").replace("금액",""), ids: <%= my.id.to_s %>});
			return false;
		}
	});
	
	
});


$("li.edit a").click(function () {
	<%if my.job_code != 3 %>
		openWebTopEditor_user('<%= current_user.userid %>','<%= my.id.to_s %>','/mytemplates/<%= my.id.to_s %>?reload=yes');
		return false
	<% else %>
		alert('시안이 확정된 상태에서는 편집하실 수 없습니다!');
		return false;
	<% end %>
})


//요청사항 접수 게시판 =================================
$(".comment_submit").click(function(){
	if ($('#feedback_memo').val() == ""){
		alert("요청사항을 입력해주세요~");
		$('#feedback_memo').focus();
		return false;
	}else{
		loadingView();
		switch($(event.target).attr("class")) {
			case "request":
				$("#feedback_code").val("0");
			break;
			case "normal":
				$("#feedback_code").val("6");
			break;
			case "suspend":
				$("#feedback_code").val("3");
			break;
		}
		
		$('#frmFile').ajaxForm({ 
	        dataType:  'html', 
			url: '/mytemplates/jobboard_create',
	        success:   Callback_req_submit 
		}).submit();
		return false;
	}
	
});

function Callback_req_submit(request,state){
	if (state == "success"){
		loadingView();
		$('#feedback_memo').val("");
		$('#feedback_file').val("");
		$('#request_board').html(request);
	}
};// 미리보기 확대/축소/드레그

function resizePreview(val) {
	currentWidth = $("#preview").width();
	currentHeight = $("#preview").height();
	currentTop = parseFloat($("#preview").css("top"));
	currentLeft = parseFloat($("#preview").css("left"));
	zoominWidth = defaultWidth * val;
	zoominHeight = defaultHeight * val;
	zoominTop = ((zoominHeight-currentHeight)/2)*-1+currentTop;
	zoominLeft = ((zoominWidth-currentWidth)/2)*-1+currentLeft;
	$("#preview").stop().animate({top:zoominTop,left:zoominLeft,width: zoominWidth, height: zoominHeight},0);
}

$("a.reset").click(function(){
	$("#preview").animate({top:defaultY,left:defaultX, width: defaultWidth, height: defaultHeight});
	$("#zoom-scroll span").animate({left:0});
	return false;
});

$(window).load(function () {
	defaultWidth = $("#preview").width();
	defaultHeight = $("#preview").height();
	defaultX = ($("#preview-wrap").width()/2)-($("#preview").width()/2)-1;
	defaultY = ($("#preview-wrap").height()/2)-($("#preview").height()/2)-1;
	$("#preview").css({"left":defaultX,"top":defaultY}).fadeIn().draggable().click(function() { 
		if($("#item-information").attr("class") == "horizon") {
			previewWidth = parseInt($(document).width())-120;
			ratio = previewWidth/defaultWidth;
			previewHeight = defaultHeight*ratio;
			quickPreview(previewWidth+40,previewHeight+40,Array("image",$(this).attr("src"),previewWidth,previewHeight))
		}
	});
	$("#zoom-scroll span").draggable({axis: "x", containment: "parent", drag : function() { resizePreview(parseFloat($(this).css("left"))/88*2+1) }});
});

$('#design_confirm_section').delegate('#design_confirm','click',function(){
	if($('#design_confirm_section').attr("class") == "accept") {
		confirm_msg = "시안을 확정하시겠습니까? \n시안을 확정하시면 주문을 하실 수 있습니다.";
		change_class = "accept-cancel";
		has_confirm = "y";
	} else {
		confirm_msg = "시안을 확정을 취소하겠습니까?";
		change_class = "accept";
		has_confirm = "n";
	}

	if(window.confirm(confirm_msg)){
		$.ajax({
			data:'has_confirm='+has_confirm+'&mytemp_id=<%=my.id%>', 
			dataType:'script', 
			type:'post', 
			url:'/mytemplates/design_confirm',
			success: function(request){
				html_str = "<a id=\"design_confirm\" href=\"#\">시안확정취소</a>";
				$('#design_confirm_section').removeClass($(this).attr("class")).addClass(change_class);
				$('#design_confirm_section').html(html_str);
			}
		});
	}else{
		return false;
	}
	return false;
})


// 최종 주문하기 버튼 클릭시 프로세스 ==========================================
$('#order_basic').live("click", function(){
	var order_item = "<%= my.id.to_s %>";
	var item_unit = $('#piece_' + order_item).val();

	if (order_item == ""){
		alert("주문할 항목을 선택해주세요!");
	}else{
		if($('#receive-type2 option:selected').val() == ""){
			alert('배송방법을 선택해주세요!');
			return false;
		}
		
		if($('#receive-name').val() == ""){
			alert("받으실분의 성함을 입력해주세요!");
			$('#receive-name').focus();
			return false;
		}
		
		if($('#receive-tel').val() == ""){
			alert("일반 전화번호를 입력해주세요!");
			$('#receive-tel').focus();
			return false;
		}

		if($('#receive-mobile').val() == ""){
			alert("모바일(핸드폰) 번호를 입력해주세요!");
			$('#receive-mobile').focus();
			return false;
		}
		
		if($('#zip_code').val() == "" || $('#address2').val() == ""){
			alert("배송주소를 입력해주세요!");
			if($('#zip_code').val() == ""){
				$('#address-search').focus();
			}else{
				$('#address2').focus();
			}
			return false;
		}
		
		loadingView();
		$.ajax({
			data:'direct=yes&item_unit='+item_unit+'&pay_m='+$('input:radio:checked').val()+'&total_price='+$('#order_total_price').val()+'&receive-note='+$('#receive-note').val()+'&address2='+$('#address2').val()+'&address1='+$('#address-selector option:selected').text()+'&zip_code='+$('#zip_code').val()+'&receive_mobile='+$('#receive-mobile').val()+'&receive_tel='+$('#receive-tel').val()+'&receive_name='+$('#receive-name').val()+'&receive_type='+$('#receive-type2 option:selected').val()+'&ids='+ order_item, 
			dataType:'script', 
			type:'post', 
			url:'/mytemplates/create_order',
			success: function(request){
				loadingView();
				if(request != "주문에러!"){
					alert("주문시 표시된 결제금액은 기본금액입니다! 옵션 선택에 따른 추가 금액에 대해선 관리자와 상담해주시기 바랍니다!");
					alert("주문번호: "+request+" \n주문절차가 정상적으로 처리되었습니다!");	
					$('#popup-closeButton').click();
					window.location.replace("/myorders");
				}else{
					alert("주문진행시 문제가 발생하였습니다!\n관리자에게 문의하여 주시기 바랍니다.");	
				}
			}
		});

	}
});

$('#receive-type2').live("change",function(){
	
	if($('#receive-type2 option:selected').val() != ""){
		delivery_price = parseInt($('#receive-type2 option:selected').attr("price"));
	}else{
		delivery_price = 0;
	}
	current_total_price = parseInt($('#current_total_price').val());
	$('#total_price').html(to_comma(current_total_price + delivery_price) + "원");
	$('#order_total_price').html(to_comma(current_total_price + delivery_price) + "원");
	$('#left_order_total_price').html(to_comma(current_total_price + delivery_price) + "원");
	
});

function to_comma(price){
	char_price = price;
	// 콤마찍기
	var reg = /(^[+-]?\d+)(\d{3})/;   // 정규식
	char_price += '';                // 숫자를 문자열로 변환

	while (reg.test(char_price))
	char_price = char_price.replace(reg, '$1' + ',' + '$2');
	
	return char_price;
}

$('#address-search').live("keydown", function(event){
	if(event.keyCode == 13){
		$('#zip_search').click();
		return false;
	}	
})

$('#zip_search').live("click", function(){
	if ($('#address-search').val() == ""){
		alert("검색어를 입력해주세요!");
	}else{
		$.ajax({
			data:'dong='+ $('#address-search').val(), 
			dataType:'script', 
			type:'post', 
			url:'/address/search_ajax',
			success: function(request){
				$("#search-address-form").fadeOut("fast");
				$('#addr_result').html(request).change(function(){
					// $('#zip_code').val()
					if($('#address-selector option:selected').val() == "research"){
						$('#address-search').val("");
						$("#search-address-form").fadeIn("fast");
						$('#address-search').focus();
					}else{
						var temp_zip = $('#address-selector option:selected').val();
						var zip_code = temp_zip.substr(0,3) + "-" + temp_zip.substr(3,3)
						$('#zip_code').val(zip_code);
					}
				});
			}
		});
	}
});
</script>