<div id="feature_wrapper">
	<p1>배송정보</p1>
	<br>
</div>

<div id="table_content">
	<table class="board_table">
	    <thead class="delivery">
	        <tr>
	            <th class="board_thead" width="250px"><center>구분</center></th>
	            <td class="board_thead" width="400px"><center>가격</center></td>
				<td class="board_thead" width="150px"><center><input type="button" class="save_all" value="배송정보 저장"></center></td>
	        </tr>
	    </thead>
 
	    <tbody class="delivery">
	        <%
			@delivery.each do |dl|
			%>
			<tr class = "delivery_tr">
	            <td class="board_tbody" width="250px"><input type="text" class="gubun" id="gubun_<%= dl.id %>" value="<%= dl.name %>" style="width:250px;"></td>
	            <td class="board_tbody" width="400px"><input type="text" class="val" id="price_<%= dl.id %>" style="width:400px;" value="<%= dl.price %>"></td>
				<td class="board_tbody" width="150px">
					<center>
						<input class="save" id="<%= dl.id %>" type="button" value="저장" style="display:none;">
						<input class="del" id="del_<%= dl.id %>" type="button" value="삭제">
					</center></td>
	        </tr>
			<%end%>
	    </tbody>
	</table>
</div>
<div style="width:800px; text-align:left;padding:5 0 0 0;">
	<input type="button" id="add_item" value="항목추가">
</div>

<br><br>
<br><br>

<script language="Javascript">
$('.del').live("click",function(event){
	if(window.confirm("정말 삭제하시겠습니까?")){
		$id = $(this).attr("id").replace("del_","");
		
		if( $id == ""){
			$(this).parents('tr.delivery_tr').remove();
		}else{
			$.ajax({
				data:'category=delivery&id='+$id ,
				dataType:'script', 
				type:'post', 
				url:'/admin/admininfos/destroy_delivery',
				success: function(request){
					$(event.target).parents('tr.delivery_tr').remove();
				}
			});
		}
		
	}else{
		return false;
	}
});

$('#add_item').click(function(){
	var $str = "<tr class = 'delivery_tr'><td class='board_tbody' width='250px'><input type='text' class='gubun' id='gubun_' value='' style='width:250px;'></td>" +
        "<td class='board_tbody' width='400px'><input type='text' class='val' id='price_' style='width:400px;' value=''></td>" +
		"<td class='board_tbody' width='150px'><center><input class='save' id='##' type='button' value='저장' style='display:none;'>"+
		"<input class='del' id='del_' type='button' value='삭제'></center></td></tr>"
    
	$('tbody.delivery').append($str);
});

//개별 저장 ==================================================
$('.save').live("click",function(event){
	$category = $(this).parents('tbody').attr("class");
	$id = $(this).attr("id");
	$price = $('#price_'+$id).val();
	$gubun = $('#gubun_'+$id).val();
	
	if ($gubun == ""){
		alert("배송항목을 입력해 주세요!");
		$('#gubun'+$id).val().focus();
		return false;
	}else{
		$.ajax({
			data:'category='+$category+'&id='+$id+'&price='+$price+'&gubun='+$gubun, 
			dataType:'script', 
			type:'post', 
			url:'/admin/admininfos/save_delivery',
			success: function(request){
				alert("저장이 완료되었습니다!");
			}
		});
	}
})

$('.save_all').live("click",function(event){
	$category = $(this).parents('thead').attr("class");
	$ids = "";
	$prices = "";
	$gubun = "";
	$('tbody.'+$category+' input.val').each(function(){
		$id = $(this).parents('tr.delivery_tr').find('input.save').attr("id");
		$ids += $id + ",";

		if($(this).parents('tr.delivery_tr').find('input.gubun').val() == ""){
			alert("항목명을 입력해주세요!");
			$(this).parents('tr.delivery_tr').find('input.gubun').focus();
			return false;
		}else{
			$gubun += $(this).parents('tr.delivery_tr').find('input.gubun').val() + ",";
		}
		
		if($(this).parents('tr.delivery_tr').find('input.val').val() == ""){
			alert("가격을 입력해주세요!");
			$(this).parents('tr.delivery_tr').find('input.val').focus();
			return false;
		}else{
			$prices += $(this).parents('tr.delivery_tr').find('input.val').val() + "$$";
		}
		
		
	})
	
	$.ajax({
		dataType:'script', 
		type:'post', 
		url:'/admin/admininfos/session_check',
		success: function(request){
			if(request == "logined"){
				$.ajax({
					data:'name='+$gubun+'&price='+$prices+'&category='+$category+'&ids='+$ids, 
					dataType:'script', 
					type:'post', 
					url:'/admin/admininfos/save_deliveries',
					success: function(request){
						$('#table_content').html(request);
						alert("배송정보의 저장이 완료되었습니다!");
					}
				});
			}else{
				alert("장시간 사용하지 않아 자동 로그아웃 되었습니다!");
				location.replace("/admin/login");
			}
			
		}
	});
	
	
})
</script>