<div id="imagehard">
	<h3>내 이미지 하드</h3>
	<p class="description">이미지파일을 업로드할 수 있는 이미지하드입니다.<br/>서버 사정에 의해 연락없이 삭제될 수 있으니, 편집 및 접수 용도외의 사용은 권장하지 않습니다.</p>
	<div id="imagehard-folder">
		<h4>폴더 목록</h4>
		<ul id="folder_list"><!-- 수정, 삭제 버튼은 <p class="action">안에 <a href="### URL ###" class="edit">, class="delete"로 넣어주시면 알아서 처리됩니다. -->
			<!-- 기본폴더 (photo) -->
			<li id="photo">
				<p class="folder on"><a>photo</a></p>
			</li>
			
			<div id="sortables">
				
				<!-- 기본폴더 (photo) -->
				<%
				@folders = Folder.all(:user_id => current_user.id, :order =>[:order]) 
				@folders.each do |f|
				%>
				<!-- 폴더 리스트 반복 시작 -->
				<li id="<%= f.id %>">
					<p class="folder"><a><%= f.name %></a></p>
					<p class="action">
						<a class="config">관리</a>
					</p>
				</li>
				<!-- 폴더 리스트 반복 끝 -->
				<%
				end
				%>
			</div>
		</ul>
		<fieldset>
			<h5>폴더 생성</h5>
			<form>
				<label for="imagehard-forder-new">폴더이름</label> 
				<input id="folder_name" type="text" placeholder="새 폴더 이름"/> 
				<input id="folder_create_btn" type="button" value="새 폴더 생성" class="submit-button"/>
			</form>
		</fieldset>
	</div>
	<div id="imagehard-wrap">
		<div id="imagehard-list">
			<% @myimages.each do |myimage| %>
			<!-- 파일 목록 반복 시작 -->
			<ul class="article" id="<%= myimage.id.to_s %>">
				<!-- 가로 세로 사이즈 136으로 제한, 현재 IMAG태그에 임의로 width=136, height=136 해놨습니다.  -->
				<li class="preview"><a href="/myimages/show_myimage/<%=myimage.id.to_s %>" target="_blank"><img src="<%= myimage.thumb_url %>"/></a></li>
				<li class="filename"><a href="### 파일링크 ###" target="_blank"><%= myimage.name %></a><span></span></li>
				<li class="date"><%= myimage.created_at.strftime('%Y-%m-%d') %><a class="delete img">삭제</a></li>
	<!--        # 차후 개선버전시 용량도 추가 #
				<li>5,123kb</li> -->
			</ul>
	<!-- 파일 목록 반복 끝 -->
			<%end %>
		</div>
		<fieldset id="imagehard_search">
			<p class="search_ext">
				<label for="image_search_type">이미지 확장자별 보기</label>
				<select name="_ext" id="image_search_type">
					<option value='all'>전체보기</option>
					<%@exts.each do |e| %>
						<option value="<%= e %>" <%= "selected" if e == params[:ext] %>><%= e.upcase %></option>
					<%end %>
				</select>
			</p>
			<p class="search_val">
				<label for="image_search_val">검색</label>
				<input name="search" id="image_search_val" type="text" value="<%= params[:search] %>"/><input id="image_search_submit_btn" type="submit" value="검색" class="submit-button"/>
			</p>
		</fieldset>
		<div class="upload">
			<% form_tag({:action => ''}, {:multipart => true, :id => "imgFile", :class => "upload-image"} ) do -%>
				<input type="hidden" name="myimage_folder_id" id="myimage_folder_id">
				<label for="myimage_image_file">이미지 올리기</label> <input name="myimage_image_file" type="file" id="myimage_image_file">
				<a id="imgUpload_btn">올리기</a>
			<% end%>
		</div>
		<div class="pager">				
			<%ext = "all" %>
			<%= @myimages.pager.to_html "/myimages?ext=#{ext}&search=#{params[:search]}" %>
			<%#= @myimages.pager.to_html "Javascript:alert('test'); /myimages?" %>
		</div>
	</div>
</div>