<p>
  <b>아이디:</b>
  <%=h @user.userid %>
</p>

<p>
  <b>이름:</b>
  <%=h @user.name %>
</p>

<p>
  <b>메일주소:</b>
  <%=h @user.email %>
</p>

<%
count_image = Myimage.all(:user_id => @user.id).count
count_temp = Mytemplate.all(:user_id => @user.id, :in_order => false).count
count_order = Myorder.all(:user_id => @user.id).count
%>
<input type="button" value="목록" style="cursor:hand;" onClick="goList()">
<input type="button" value="<%= @user.name %>님의 디자인바구니" style="cursor:hand;" onClick="goPage('temp','<%= @user.id %>')"><%= count_temp %>건
<input type="button" value="<%= @user.name %>님의 이미지하드" style="cursor:hand;" onClick="goPage('image','<%= @user.id %>')"><%= count_image %>건
<input type="button" value="<%= @user.name %>님의 주문진행상황" style="cursor:hand;" onClick="goPage('order','<%= @user.id %>')"><%= count_order %>건

<script>
function goList(){
	window.location.href = "/admin/users";
}

function goPage(gubun, userid){
	if (gubun == "temp"){
		window.location.href = "/admin/mytemplates?userid="+userid;
	}else if (gubun == "image"){
		window.location.href = "/admin/myimages?userid="+userid;
	}else if (gubun == "order"){
		window.location.href = "/admin/myorders?userid="+userid;
	}
	
}
</script>