<!DOCTYPE html>
<html lang="ko"><head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="DC.creator" content="성도GL/솔루윈, SSI team"/>
	<meta name="geo.placename" content="Seoul, Korea Republic of"/>
	<meta name="geo.region" content="KO-KR"/>
	<meta name="description" content="이 사이트는 성도GL/솔루윈의 Web Top PrintShop 솔루션을 이용하여 만들어진, 웹에서 편집/교정을 할 수 있는 웹사이트입니다."/>
	<meta name="keywords" content="<%= Admininfo.first(:category => "basic_info", :name => "브라우저 검색어").content %>"/>
	<meta name="viewport" content="width=960" /> 
	
	<title><%= Admininfo.first(:category => "basic_info", :name => "사이트명").content %></title> 
	
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/css/default.css" type="text/css"/>
<% if @menu != "home" %>
	<link rel="stylesheet" href="/css/default.content.css" type="text/css"/>
	<link rel="stylesheet" href="/css/editor.skin.default.css" type="text/css"/>
<% end %>
	<link id="skin_css" rel="stylesheet" href="/css/skin.cloud.css" type="text/css"/>
	<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.shared.js"></script>
	<script type="text/javascript" src="/js/jquery.plugins.js"></script>
	<script type="text/javascript" src="/js/member_join.js"></script>
	<script type="text/javascript" src="/js/imagehard.js"></script>		
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	
<!--[if IE 6]>
	<script src="/js/DD_belatedPNG-min.js"></script>
	<script>DD_belatedPNG.fix('img, #nav-menu, #nav-menu ul, #nav-menu a, .option-select ul, .action-select ul, .date, #nav-quick ul, .actions a,.actions span, .caption a, .self-edit a, .order-edit a');</script>
	<script type="text/javascript" src="/js/jquery.ie6nomore.js"></script>	
<![endif]-->
</head>
<body id="<%=(@menu == "home")?"main":"sub" %>">
<%= render :partial => "/shared/header", :object => @menu %>	
<hr/>
	<div id="content">
<%= yield %>
	</div>
<hr/>
<%= render :partial => "/shared/footer" %>
</body>
</html>