<% if @temp.preview_url;temp_image_path = @temp.preview_url else; temp_image_path = @temp.thumb_url end  %>
<p5><a href="#"><%= Category.get(@temp.category.to_i).name if !Category.get(@temp.category.to_i).nil? %></a>
	<a class="on" href="#">&nbsp;&nbsp;>&nbsp;<%= Subcategory.get(@temp.subcategory.to_i).name if !Subcategory.get(@temp.subcategory.to_i).nil?%></a>
</p5>

<div id="line_top3"></div>
<div id="line_top2"></div>

<% 	if @temp.preview_url
		temp_image_path = @temp.preview_url
	else
		temp_image_path = @temp.thumb_url		
	end
%>

<table>
		<tr width="450" height="260">
            <td width="400" class="imgmargin"><img width='<%= (@temp.is_col)? "150":"360" %>' src='<%= temp_image_path %>'></td>
			<td width="280px">
				<table width="250">
					<tr>
						<td width="250" height="35" class="table_t4" colspan="2" ><%= @temp.name %></td>
		
					</tr>

					<tr class="table_t5">
						<td width="70" class="table_t5">등록일</td>
						<td  width="180" class="table_t5"><%= @temp.created_at.strftime('%Y-%m-%d') %></td>
					</tr>
	
					<tr>
						<td width="70" class="table_t5">가격</td>
						<td width="180" class="table_t5_bold"><%= @temp.price %></td>
					</tr>
					
					<tr>
						<td colspan="2" width="250" class="table_t5_underline"></td>
					</tr>
	
					<tr>
						<td width="70" class="table_t5">사이즈</td>
						<td width="180" class="table_t5"><%= @temp.size %></td>
					</tr>
	
					<tr>
						<td width="70" class="table_t5">태그</td>
						<td width="180" class="table_t5"><%= @temp.tags %></td>
					</tr>
					<tr>
						<td colspan="2" width="250" class="table_t5_underline"></td>
					</tr>
				</table>
			</td>
        </tr>

</table>




<div id="line_bottom5"></div>	
<table>
	<tr>
		<td width="727" >
			<%= link_to image_tag("/images/template/edit.jpg", :border=>0, :align=>'right'), edit_admin_temp_path(@temp.id.to_s) %>							
			<input id="<%= @temp.id %>" type="button" class="temp_download" value="템플릿 다운로드" style="font-size:20px;cursor:pointer;">
	</td>
	</tr>
</table>

<script language="Javascript">
$('.temp_download').live("click",function(){
	var $id = $(this).attr("id");
	location.href = '/temp_download?temp_id='+$id;
	return false;
})
</script>
