<ul class='comment_article' id='comment_article_<%= @comm.id.to_s %>'>
	<li class='author'><%= @comm.user_name %></li>
	<li class='date'><%= @comm.updated_at.strftime('%Y-%m-%d') %></li>
	<li class='comment'><%= @comm.content.gsub("\n","<br>") %></li>
	<% if @comm.user_id == current_user.id %>
	<li id='del_<%= @comm.id %>' class='delete'><a href='#삭제'>삭제</a></li>
	<%end %>
</ul>