<div id="qnaboard" class="content-layout">
	<h3>질문과 답변</h3>
	<hr/>
	<div class="board_article">
		<ul class="article_info">
			<li class="author"><strong>작성자</strong> <%= User.first(:id => @freeboard.user_id).name %></li>
			<li class="date"><strong>작성일</strong> <%= @freeboard.created_at.strftime('%Y-%m-%d') %></li>
		</ul>
		<div class="article_content">
			<h4 class="subject"><%= @freeboard.title %></h4>
			<div>
				<%= simple_format(@freeboard.content) %>
			</div>
		</div>
		<div id="top_actions" class="actions">
			<h4>게시판 동작</h4>
			<ul>
				<li class="back-list"><a href="/freeboards?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></li>
				<% if signed_in? && current_user.id == @freeboard.user_id %>
				<li class="edit"><%= link_to "수정", edit_freeboard_path(@freeboard.id)+"?search="+params[:search]+"&page="+params[:page] %></li>
				<li class="delete"><%= link_to "삭제", freeboard_path, :confirm => '정말 삭제하시겠습니까?', :method => :delete %></li>
				<% else %>
				<li class="edit"><a href="#">수정</a></li>
				<li class="delete"><a href="#">삭제</a></li>
				<% end %>
			</ul>
		</div>
		<div class="comment_list">
			<ul class="comment_article">
				<li class="author">궁자라장</li>
				<li class="date">2010.06.02</li>
				<li class="comment">M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다. 웹탑프린트샵의 다양한 템플릿 중 원하는 디자인을 선택 하셔서 즉시 텍스트 정보를 수정하여 완성품을 확인 하실 수 있습니다. 누구나 인터넷을 통하여 자신의 컴퓨터(PC)에서 편집 프로그램과 폰트, 이미지가 없어도 쉽게 디자인 할 수 있습니다. M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다.</li>
				<li class="delete"><a href="#삭제">삭제</a></li>
			</ul>
			<ul class="comment_article">
				<li class="author">궁자라장</li>
				<li class="date">2010.06.02</li>
				<li class="comment">M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다. 웹탑프린트샵의 다양한 템플릿 중 원하는 디자인을 선택 하셔서 즉시 텍스트 정보를 수정하여 완성품을 확인 하실 수 있습니다. 누구나 인터넷을 통하여 자신의 컴퓨터(PC)에서 편집 프로그램과 폰트, 이미지가 없어도 쉽게 디자인 할 수 있습니다. M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다.</li>
				<li class="delete"><a href="#삭제">삭제</a></li>
			</ul>
			<ul class="comment_article">
				<li class="author">궁자라장</li>
				<li class="date">2010.06.02</li>
				<li class="comment">M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다. 웹탑프린트샵의 다양한 템플릿 중 원하는 디자인을 선택 하셔서 즉시 텍스트 정보를 수정하여 완성품을 확인 하실 수 있습니다. 누구나 인터넷을 통하여 자신의 컴퓨터(PC)에서 편집 프로그램과 폰트, 이미지가 없어도 쉽게 디자인 할 수 있습니다. M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다.</li>
				<li class="delete"><a href="#삭제">삭제</a></li>
			</ul>
			<ul class="comment_article">
				<li class="author">궁자라장</li>
				<li class="date">2010.06.02</li>
				<li class="comment">M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다. 웹탑프린트샵의 다양한 템플릿 중 원하는 디자인을 선택 하셔서 즉시 텍스트 정보를 수정하여 완성품을 확인 하실 수 있습니다. 누구나 인터넷을 통하여 자신의 컴퓨터(PC)에서 편집 프로그램과 폰트, 이미지가 없어도 쉽게 디자인 할 수 있습니다. M서버의 웹편집 기능이 부여된 B2B, B2C 템플릿 스토어 입니다.</li>
				<li class="delete"><a href="#삭제">삭제</a></li>
			</ul>
			<ul class="comment_article">
				<li class="author">궁자라장</li>
				<li class="date">2010.06.02</li>
				<li class="comment">그냥 해</li>
				<li class="delete"><a href="#삭제">삭제</a></li>
			</ul>
			<form>
			<fieldset>
				<h5>댓글 작성 </h5>
				<div class="comment">
					<label for="comment">댓글내용 <span>댓글을 작성하여 내용을 보충하거나, 답변을 등록할 수 있습니다.</span></label>
					<textarea id="comment" name="comment" ></textarea>
				</div>
				<div class="actions"><a href="#등록하기" class="submit_button"><input type="submit" value="등록하기"/></a><a href="#다시쓰기" class="reset_button"><input type="reset" value="다시쓰기"/></a></div>
			</fieldset>
			</form>
		</div>
		<div class="actions">
			<h4>게시판 동작</h4>
			<ul>
				<% if signed_in? && current_user.id == @freeboard.user_id %>
				<li class="edit"><%= link_to "수정", edit_freeboard_path(@freeboard.id)+"?search="+params[:search]+"&page="+params[:page] %></li>
				<li class="delete"><%= link_to "삭제", freeboard_path, :confirm => '정말 삭제하시겠습니까?', :method => :delete %></li>
				<% else %>
				<li class="edit"><a href="#">수정</a></li>
				<li class="delete"><a href="#">삭제</a></li>
				<% end %>
			</ul>
		</div>
	</div>
	<p><a href="/freeboards?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></p>
</div>
<script type="text/javascript">
	$(".actions a").click(function() { alert("자신의 글이 아니면 수정, 삭제가 불가능 합니다."); return false })
</script>

