<div id="qnaboard" class="content-layout">
	<h3>질문과 답변 게시판</h3>
	<ul class="content-description">
		<li>사이트 이용 및 사용에 궁금한 점이 있으면 글을 남겨주세요. </li>
		<li>공개적인 공간이기 때문에 개인정보를 포함한 질문은 전화나 이메일로 해주시기 바랍니다.</li>
	</ul>
	<div class="board_list">
		<table class="board" border="0" cellpadding="0" cellspacing="0">
		    <thead>
		        <tr>
		            <th class="id">번호</th>
		            <th class="subject"><center>제목</center></th>
					<th class="author"><center>작성자</center></th>
		            <th class="date"><center>등록일</center></th>
		            <th class="count"><center>조회</center></th>
		        </tr>
		    </thead>
		    <tbody>
		    <% if @total_count >= 1 %>
				<% 	if params[:page].to_i == 0 or params[:page].to_i == 1
						@temp_page = 0
					else
						@temp_page = params[:page].to_i - 1
					end
					@page_num = @total_count - (10 * @temp_page) %>
					
	
				<% @freeboard.each do |freeboard| %>
		        <tr>
		            <td class="id"><%= @page_num %></td>
		            <td class="subject" title="<%= freeboard.title if freeboard.title.length > 90 %>"><a href="/freeboards/<%=freeboard.id%>?search=<%=params[:search]%>&page=<%=params[:page]%>"><%= entitle(freeboard) %></a></td>
					<td class="author"><%= User.first(:id => freeboard.user_id).name %></td>
		            <td class="date"><%= freeboard.created_at.strftime('%Y.%m.%d') %></td>
		            <td class="count"><%= freeboard.hit_cnt %></td>
		        </tr>
		        <% @page_num -= 1
				end %>
			<% else %>
				<tr>
					<td colspan="5" class="empty"><img src="/images/error/error-empty-qna.jpg" alt="작성된 질문글이 없습니다. / 궁금한 사항이 있으시면 부담없이 글남겨주세요. 빠른시간내에 답변드리겠습니다. 감사합니다." width="578" height="400" /></td>
				</tr>
			<% end%>
		    </tbody>
		</table>
		<div class="actions">
			<h4>게시판 동작</h4>
			<%if signed_in? %>
			<a href="/freeboards/new" class="new">새로운 글 작성</a>
			<%else%>
			<a href="/login?uri=/freeboards/new" class="new ajax-sign-in">새로운 글 작성</a>
			<%end%>
		</div>
	</div>
	<div class="board_nav">
		<div class="pager">
		<%=Freeboard.search(params[:search], params[:page]).pager.to_html "/freeboards?search=#{params[:search]}" %>
		</div>
		<% form_tag request.path + "?page=#{params[:page]}", :method => 'get' do %>
		<fieldset id="search-form">
			<legend>디자인 검색</legend>
			<p><%= text_field_tag :search, params[:search],{:id=>"search_val" } %><input type="submit" value="검색" class="submit-button"/></p>
		</fieldset>
		<% end %>
	</div>
</div>
<script type="text/javascript">
$("tbody tr").hover(
	function () {
		$(this).find("td").css("background-color","#eee");
	},
	function () {
		$(this).find("td").css("background-color","#fff");
	}
);
</script>