<div id="qnaboard" class="content-layout">
	<h3>질문과 답변</h3>
	<hr/>
	<div class="board_article">
		<ul class="article_info">
			<li class="author"><strong>작성자</strong> <%= User.first(:id => @freeboard.user_id).name %></li>
			<li class="date"><strong>작성일</strong> <%= @freeboard.created_at.strftime('%Y-%m-%d') %></li>
		</ul>
		<div class="article_content">
			<h4 class="subject"><%= @freeboard.title %></h4>
			<div>
				<%= simple_format(@freeboard.content) %>
			</div>
		</div>
		<div id="top_actions" class="actions">
			<h4>게시판 동작</h4>
			<ul>
				<li class="back-list"><a href="/freeboards?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></li>
				<% if signed_in? && current_user.id == @freeboard.user_id %>
				<li class="edit"><%= link_to "수정", edit_freeboard_path(@freeboard.id)+"?search="+params[:search]+"&page="+params[:page] %></li>
				<li class="delete"><a id="article_delete_btn">삭제</a></li>
				<%end %>
			</ul>
		</div>
		<div class="comment_list" id="comment_list">
			
			<% @comments.each do |comm| %>
			<ul class="comment_article" id="comment_article_<%= comm.id.to_s %>">
				<%
				if comm.is_admin == true
					writer_name = "<B>관리자</B>"
				else
					writer_name = comm.user_name + "("+User.get(comm.user_id).userid+")"
				end 
				%>
				<li class="author"><%= writer_name %></li>
				<li class="date"><%= comm.updated_at.strftime('%Y-%m-%d') %></li>
				<li class="comment"><%= comm.content.gsub("\n","<br>") %></li>
				<% if comm.user_id == current_user.id and comm.is_admin == false%>
				<li id="del_<%= comm.id %>" class="delete"><a href="#삭제">삭제</a></li>
				<%end %>
			</ul>
			<%end %>
		</div>
		<div class="comment_list">
			<form>
			<fieldset>
				<h5>댓글 작성 </h5>
				<div class="comment">
					<label for="comment">댓글내용 <span>댓글을 작성하여 내용을 보충하거나, 답변을 등록할 수 있습니다.</span></label>
					<textarea id="comment" name="comment" ></textarea>
				</div>
				<div class="actions"><a href="#등록하기" class="submit_button"><input type="submit" value="등록하기"/></a><a href="#다시쓰기" class="reset_button"><input type="reset" value="다시쓰기"/></a></div>
			</fieldset>
			</form>
			
			<div class="actions">
				<h4>게시판 동작</h4>
				<ul>
					<% if signed_in? && current_user.id == @freeboard.user_id %>
					<li class="edit"><%= link_to "수정", edit_freeboard_path(@freeboard.id)+"?search="+params[:search]+"&page="+params[:page] %></li>
					<li id="article_delete_btn" class="delete"><a id="article_delete_btn">삭제</a></li>
					<% end %>
				</ul>
			</div>
		</div>
		
	</div>
	<p><a href="/freeboards?search=<%=params[:search]%>&page=<%=params[:page]%>" class="back-list">목록으로 돌아가기</a></p>
</div>
<script type="text/javascript">
	$('.submit_button').click(function(){
		if($('#comment').val() == ""){
			alert("내용을 입력해 주세요!");
			$('#comment').focus();
		}else{
			$.ajax({
				data:'board=freeboard&board_id=<%= @freeboard.id.to_s %>&content='+$('#comment').val(), 
				dataType:'script', 
				type:'post', 
				url:'/freeboards/create_comment',
				success: function(request){
					$('#comment').val("");
					$('#comment_list').append(request);
				}
			});
		}
		
	});
	
	$('.delete').live("click", function(event){
		if( $(event.target).attr("id") == "article_delete_btn" ){
			$board_id = "<%= @freeboard.id.to_s %>";
			
			if(window.confirm("정말 글을 삭제하시겠습니까?")){
				$.ajax({
					data:'board_id='+$board_id, 
					dataType:'script', 
					type:'post', 
					url:'/freeboards/destroy_article',
					success: function(request){
						window.location.replace("/freeboards");
					}
				});
			}else{
				return false;
			}
			
		}else{
			$comment_id = $(this).attr("id").replace("del_","");

			if(window.confirm("정말 덧글을 삭제하시겠습니까?")){
				$.ajax({
					data:'comment_id='+$comment_id, 
					dataType:'script', 
					type:'post', 
					url:'/freeboards/destroy_comment',
					success: function(request){
						$('#comment_article_'+$comment_id).slideUp("slow").remove();
					}
				});
			}else{
				return false;
			}
		}
		
	})
	
</script>

